{% load static %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>


  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <script src="{% static "js/less.js" %}"></script>

  <link rel="stylesheet" href="{% static "html5/css/style.css" %}">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  <!--
/* @license
 * MyFonts Webfont Build ID 2341661, 2012-08-09T19:50:22-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Alternate Gothic No. 2 by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/alternate-gothic/no-2/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2341661
 * 
 * © 2012 Bitstream Inc
*/
-->

  <!-- Avenir -->
  <script type="text/javascript" src="//fast.fonts.com/jsapi/ca53bad3-87ea-455b-814d-efdfba31e61b.js"></script>

  <!-- Alternate Gothic - going to change to javascript -->
  <link rel="stylesheet" type="text/css" href="{% static "fonts/AlternateGothicKit/MyFontsWebfontsOrderM3947119.css" %}">
  <!--
  <script type="text/javascript">
    var myfont_webfont_test = true;
    var woffEnabled = true;
    var customPath = "{% static "fonts" %}";
  </script>
  <script type="text/javascript" src="{% static "js/AlternateGothicOrderM3947119.js" %}"></script>
  -->
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/docs.css" %}">
  <link rel="stylesheet" href="{% static "css/winedora.css" %}">

  <link rel="shortcut icon" href="{% static "ico/favico.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "html5/img/apple-touch-icon-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "html5/img/apple-touch-icon-114x114-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "html5/img/apple-touch-icon-72x72-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "html5/img/apple-touch-icon-57x57-precomposed.png" %}">

  {% block additional_styles %}
  
  {% endblock %}
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{% static "html5/js/libs/modernizr-2.5.3.min.js" %}"></script>
  <script type="text/javascript">
    window.onload=function() {
        var mtiTracking = document.createElement('link');
        mtiTracking.type='text/css';
        mtiTracking.rel='stylesheet';
        mtiTracking.href=('https:'==document.location.protocol?'https:':'http:') + '//fast.fonts.com/t/1.css';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
    }
  </script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="container">
    <div class="row">
      <div class="span1">
        <a href="https://twitter.com/vinelywine" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @vinelywine</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="span1">
        <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.vinely.com&media=http%3A%2F%2Fpassets-lt.pinterest.com%2Fimages%2Fabout%2Fbuttons%2Fpinterest-button.png&description=Follow%20Me%20on%20Pinterest" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>              
      </div>            
      <div class="span1">
        <div class="fb-like" data-href="https://www.vinely.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      </div>
    </div>    
    <div class="row">      
      <div class="span5 offset4">
        <h1><a class="brand" href="{% url landing_page %}"><img src="{% static "img/vinely_logo_notag.png" %}" title="Vinely" class="default" width="312" height="160"></a></h1>
      </div>
      <div class="span3">
        <div class="box-container">
        <div class="box-content authentication">
            {% if user.is_authenticated %}
                <a href="{% url logout %}">Sign Out</a>
                <a href="{% url my_information %}">My Account</a>
                <a href="{% url cart %}">Cart {{ cart_item_count }} Items</a>
              {% else %}
              <!-- if not logged in, show login link -->
              <div class="login-forgot">
                <a href="{% url login %}">Sign In</a> | <a href="{% url forgot_password %}">Forgot Password</a>
              </div>
            {% endif %}
          </div> <!-- id auth-->
          <div class="box-bg"></div>
        </div><!--box-container-->
      </div> <!--span4-->
    </div> <!-- .row -->

    <div class="navbar divider">
      <div class="navbar-inner">
          {% block navbar_menu %}

          {% if user.is_authenticated %} 
          <div class="menu_wrap main">           
            <ul class="nav">
              <li id="parties"{% if parties_menu %} class="active"{% endif %}>
                <a href="{% url party_list %}" title="parties"></a>
              </li>
              <li id="shop"{% if shop_menu %} class="active"{% endif %}>
                <a href="{% url start_order %}" title="shop"></a>
              </li>
              <li id="rate_wines"{% if rate_wines_menu %} class="active"{% endif %}>
                <a href="{% url rate_wines %}" title="rate wines"></a>
              </li>
              {% if pro %}
              <li id="dashboard"{% if dashboard_menu %} class="active"{% endif %}>
                  <a href="{% url dashboard %}" title="dashboard"></a>
              </li>
              {% endif %}              
              <li id="how_it_works"{% if how_it_works_menu %} class="active"{% endif %}>
                <a href="{% url how_it_works %}" title="how it works"></a>
              </li>
              <li id="nav_get_started"{% if get_started_menu %} class="active"{% endif %}>
                <a href="{% url get_started %}" title="get started"></a>
              </li>
              <li id="our_story"{% if our_story_menu %} class="active"{% endif %}>
                <a href="{% url our_story %}" title="our story"></a>
              </li>


              <!--
              <li id="vinely_u">
                <a href="#" title="vinely u"></a>
              </li>
              -->

              {% if wine_personality %}
              
              {% endif %}

              {% if pending_ratings %} 
                <li id="rate_wines">
                  <a href="{% url rate_wines %}">RATE_WINES</a>
                </li>
              {% endif %}

            </ul><!-- .nave -->
          </div><!-- .main_menu_wrap -->
          {% else %}
          <div class="menu_wrap main">
                <ul class="nav">
                  <!--<li class="active"><a href="{% url home_page %}">Home</a></li>-->
                  <li id="how_it_works"{% if how_it_works_menu %} class="active"{% endif %}><a href="{% url how_it_works %}" title="how it works"></a></li>
                  <li id="nav_get_started"{% if get_started_menu %} class="active"{% endif %}><a href="{% url get_started %}" title="get started"></a></li>
                  <li id="our_story"{% if our_story_menu %} class="active"{% endif %}><a href="{% url our_story %}" title="our story"></a></li>
                </ul>
          </div><!-- .main_menu_wrap -->
          {% endif %}

          {% endblock navbar_menu %}
      </div> <!-- .navbar-inner -->
    </div> <!-- .navbar -->
  </div> <!-- .container (do we want this here?) -->

  <header>
    <div class="container">

      <div class="message-container">

        {% if messages %}
          <div class="messages">
              {% for message in messages %}
                {% if "info" in message.tags %}
                  <div class="alert alert-info">{{ message|safe }}</div>
                {% elif "success" in message.tags %}
                  <div class="alert alert-success">{{ message|safe }}</div>
                {% elif "error" in message.tags or "warning" in message.tags %}
                  <div class="alert alert-error">{{ message|safe }}</div>
                {% endif %}
              {% endfor %}
          </div>
        {% endif %}
      </div> <!-- .message-container -->

      {% block header %}

      {% endblock header %}
    </div> <!-- .container for head -->
  </header>

  <div role="main" id="main-content">
    {% block content %}
      
    {% endblock content %}
  </div>
  <div class="container">
   <div id="badges" class="pie-container divider">
      <div class="row">
        <div class="span2"><div id="sl" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
        <div class="span2"><div id="wm" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
        <div class="span2"><div id="mx" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
        <div class="span2"><div id="ex" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
        <div class="span2"><div id="eg" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
        <div class="span2"><div id="sp" class="pie"><a href="{% url how_it_works %}" title="how it works"></a></div></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="divider">
        <div class="menu_wrap">
          <ul class="nav">
            <li>
              <a href="{% url home_page %}">Home</a>
            </li>
            <li>
              {% if user.is_authenticated %}
                <a href="{% url start_order %}">Shop</a>
              {% endif %}
            </li>
            <!-- for milestone 2 
            <li>
              <a href="#">Rate Wines</a>
            </li>
            -->
            <li>
              <a href="{% url my_information %}">Account</a>
            </li>
            <li>
              <a href="{% url how_it_works %}">How It Works</a>
            </li>
            <li>
              <a href="{% url get_started %}">Get Started</a>
            </li>
            <li>
              <a href="{% url our_story %}">Our Story</a>
            </li>
            <li>
              <a href="{% url contact_us %}">Contact Us</a>
            </li>
            <li>
              <a href="{% url privacy %}">Privacy</a>
            </li>
          </ul>
          <div class="row">
            <div class="span1">
              <a href="https://twitter.com/vinelywine" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @vinelywine</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="span1">
              <a href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.vinely.com&media=http%3A%2F%2Fpassets-lt.pinterest.com%2Fimages%2Fabout%2Fbuttons%2Fpinterest-button.png&description=Follow%20Me%20on%20Pinterest" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>              
            </div>            
            <div class="span1">
              <div class="fb-like" data-href="https://www.vinely.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4 offset4"><p id="copyright">&copy; 2012 Vinely. All Rights Reserved.</p></div>
    </div> <!-- .container -->
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.7.2.min.js" %}"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="{% static "html5/js/plugins.js" %}"></script>
  <script src="{% static "html5/js/script.js" %}"></script>
  <!-- end scripts -->

  <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
  <script src="{% static "js/application.js" %}"></script>

  <script type="text/javascript">
    $(document).ready( function () {
      $('.dropdown-toggle').dropdown();
    });
  </script>

  {% block additional_scripts %}
  {% endblock additional_scripts %}
  
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->

  {% if not debug %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33499659-1']);
    _gaq.push(['_setDomainName', 'vinely.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
    <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
