{% extends "winedora/base_html5.html" %}

{% block header %}
  <!--h1>Welcome to Vinely</h1-->
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="span8">
        <div class="hero-unit">
          <h1>WITH VINELY YOU'RE THE WINE EXPERT.</h1>
            <p>Discover your wine personality with friends at a Vinely Taste Party. We’ll use that personality to select perfectly paired wine and ship wherever you sip. Interested? </p>
              <div class="row">
                <div class="span1 offset2">
                  <div id="get_started"><a href="{% url sign_up 2 %}" title="get started"></a></div>
                </div>
              </div>
        </div>
      </div>
      <div class="span4">
        <div class="box" id="home-sign-in">
          <div class="well">
          <p>I've already got a personality!</p>
          <form method="POST" action="{% url login %}">
          {% csrf_token %}
          <fieldset>
            {% if form.non_field_errors %}
              <div class="alert alert-error">
                <strong>Error</strong>{{ form.non_field_errors }}
              </div>
            {% endif %}
            <div class="control-group">
              <div class="controls">
                {{ form.email }}
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                {{ form.password }}
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input class="btn btn-primary" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
            </div>
          </fieldset>
        </form>
          </div>
        </div>
      </div>
    </div>
    <div id="badges" class="pie-container divider">
      <div class="row">
        <div class="span2"><div id="sl" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
        <div class="span2"><div id="wm" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
        <div class="span2"><div id="mx" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
        <div class="span2"><div id="ex" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
        <div class="span2"><div id="eg" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
        <div class="span2"><div id="sp" class="pie"><a href="{% url sign_up 2 %}" title="get started"></a></div></div>
      </div>
    </div>

    <!--div class="row"-->
      <!--div class="span4">
        <h2>Host Your Own Parties</h2>

        <p>Do you want to host a party at your home?  When you sign up, party specialist in your area will contact you.</p>

        <p><a class="btn" href="{% url sign_up 1 %}">Sign Up &raquo;</a></p>
      </div-->
      <!--div class="span4">
        <h2>Order a Tasting Kit</h2>
        <p>Get a tasting kit to understand your wine tastes? Vinely provides a set of wines and educational booklet to discover your wine tastes.</p>

        <p><a class="btn" href="{% url sign_up 4 %}">Sign Up &raquo;</a></p>
      </div-->
      <!--div class="span4">
        <h2>Party Specialists</h2>

        <p>Party specialists provide and educate about wine during parties.  They also are there to provide you with wine recommendations.</p>

        <p><a class="btn" href="{% url sign_up 0 %}">Sign Up &raquo;</a></p>
      </div-->
    <!--/div--><!-- row -->

</div>
{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}

