{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Welcome to Winedora</h1>
{% endblock header %}


{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <!--
  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
        <a href="#headline">Party Specialists</a>
      </li>
      <li>
        <a href="#features">Party Hosts</a>
      </li>
      <li>
        <a href="#results">Attendees</a>
      </li>
    </ul>
  </div>
  -->

  <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Party Specialists</h2>

        <p>Party specialists provide and educate about wine during parties.  They also are there to provide you with wine recommendations.</p>

        <p><a class="btn" href="{% url signup_party_specialist %}">Sign Up &raquo;</a></p>

      </div>
      <div class="span4">
        <h2>Party Hosts</h2>

        <p>Do you want to host a party at your home?  When you sign up, party specialist in your area will contact you.</p>

        <p><a class="btn" href="{% url signup_party_host %}">Sign Up &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Attend Parties</h2>
        <p>Do you want to know when next wine party is near your area?</p>

        <p><a class="btn" href="{% url signup_party_attendee %}">Sign Up &raquo;</a></p>
      </div>
    </div>

    <div class="hero-unit">
      <h1>Experience Wine!</h1>

      <p>Join parties and explore those wines that may give you a new taste to life.</p>
      <p><a class="btn btn-primary btn-large">Let me know when winedora is in town &raquo;</a></p>
    </div>
  </div>

</div>

{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}

