{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Vinely Terms of Service</h1>
{% endblock header %}


{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

    <div class="row">
      <section id="age-terms">
        <div class="page-header">
          You must be over 21
        </div>
      </section>
      
      <section id="shipping-terms">
        <div class="page-header">
          You must reside in a state that can legally receive wine. 
        </div>
      </section>
    </div>
</div>

{% endblock content %}

{% block additional_scripts %}
{% endblock additional_scripts %}

