{% extends "winedora/base_html5.html" %}

{% load static%}

{% block additional_styles %}
<style type="text/css">
  .wine-num-badge {
    height: 220px;
    background-color: #fff;
    border: 1px solid rgb(147,149,152);
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 10px rgb(147,149,152);
    -webkit-box-shadow: 0px 1px 10px rgb(147,149,152);
    box-shadow: 0px 1px 10px rgb(147,149,152);
  }
  .wine-num-badge img {
    /*margin-top: 2%;*/
    width: 220px;
  }
  .span3 > p {
    margin-top: 10px;
  }
  .box-content2 {
    margin-top: 0;
    padding-bottom: 60px;
  }
  .side-glass {
    position: absolute;
    margin-left: 100px;
    margin-top: -80px;
  }
  .member-no-personality {
    position: absolute;
    margin-left: -80px;
    margin-top: -40px;
  }
  .member-personality {
    position: absolute;
    margin-left: -80px;
    margin-top: -60px;
    height: 300px;
  }
  .headline.has-personality {
    font-size: 50px;
  }
  .rate-banner {
    position: absolute;
    margin: 0 132px;
    width: 87px;
    height: 87px;
    background: url('{{ STATIC_URL }}img/ratings/rate_banner.png') no-repeat;
  }
  .rate_widget {
    /*border:     1px solid #CCC;*/
    overflow:   visible;
    padding:    10px 0;
    position:   absolute;
    width:      200px;
    height:     32px;
    margin-top: 175px;
    cursor: pointer;
  }
  .rate-widget-stars {
    margin-left: 42px;
  }
  .rate-widget-gift {
    margin-left: 8px;
  }
  .ratings-text {
    width: 200px;
    height: 75px;
    position: absolute;
    z-index: 10;
    margin-top: -70px;
  }
  .ratings-text-1 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-1.png') no-repeat -5px;
  }
  .ratings-text-2 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-2.png') no-repeat 13px;
  }
  .ratings-text-3 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-3.png') no-repeat 6px;
  }
  .ratings-text-4 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-4.png') no-repeat 28px;
  }
  .ratings-text-5 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-5.png') no-repeat 41px;
  }
  .ratings-text-6 {
    background: url('{{ STATIC_URL }}img/ratings/UNRATED/unrated-text-6.png') no-repeat -5px;
  }

  .ratings_gift {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/gift_empty.png') no-repeat;
      float:      left;
      height:     105px;
      padding:    2px;
      width:      30px;
      margin-top: -75px;
  }
  .rated-widget {
    position: absolute;
    width: 218px;
    margin-top: -117px;
    margin-left: 1px;
  }
  .rated-stars {
    height: 110px;
  }
  .rated-text {
    margin-top: -142px;
    height: 75px;
    width: 210px;
  }
  .rated-container {
    cursor: pointer;
  }
  .Rating-{{ wine_personality.suffix }}-Text-1 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-1.png') no-repeat 7px;
  }
  .Rating-{{ wine_personality.suffix }}-Text-2 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-2.png') no-repeat 30px;
  }
  .Rating-{{ wine_personality.suffix }}-Text-3 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-3.png') no-repeat 28px;
  }
  .Rating-{{ wine_personality.suffix }}-Text-4 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-4.png') no-repeat 54px;
  }
  .Rating-{{ wine_personality.suffix }}-Text-5 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-5.png') no-repeat 73px;
  }
  .Rating-{{ wine_personality.suffix }}-Text-6 {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rating-{{ wine_personality.suffix }}-Text-6.png') no-repeat;
      margin: -140px 45px;
  }

  .Rated-{{ wine_personality.suffix }}-6 {
    background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rated-{{ wine_personality.suffix }}-6.png') no-repeat;
    height: 138px;
  }

  {% for x in "12345" %}
  .Rated-{{ wine_personality.suffix }}-{{ x }} {
      background: url('{{ STATIC_URL }}img/ratings/RATED-{{ wine_personality.suffix }}/Rated-{{ wine_personality.suffix }}-{{ x }}.png') no-repeat;
      height: 138px;
  }
  {% endfor %}

  .ratings_gift_over {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/gift_filled.png') no-repeat;
      margin-top: -75px;
  }
  .ratings_gift_vote {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/gift_filled.png') no-repeat;
  }
  .ratings_stars {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/star_unrated_empty.png') no-repeat;
      float:      left;
      height:     105px;
      padding:    2px;
      width:      30px;
      margin-top: -75px;
  }
  .ratings_vote {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/star_unrated_filled.png') no-repeat;
  }
  .ratings_over {
      background: url('{{ STATIC_URL }}img/ratings/UNRATED/star_unrated_filled.png') no-repeat;
  }
  .total_votes {
      background: #eaeaea;
      top: 58px;
      left: 0;
      padding: 5px;
      position:   absolute;  
  } 
  .movie_choice {
      position: absolute;
      font: 10px verdana, sans-serif;
      margin: 0 auto 40px auto;
      width: 180px;
  }
  h1 {
      text-align: center;
      width: 400px;
      margin: 20px auto;
  }

</style>
{% endblock additional_styles %}

{% block header %}
  <h1 class="headline">What did you think?</h1>
{% endblock header %}


{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span3 center">
      &nbsp;
      <div class="personality-badge-detail">
        <img class="member-personality" src="{{ STATIC_URL }}img/homepage_badge_{{ wine_personality.suffix }}.png" height="310">
      </div>
    </div>
    {% if selected_wines.0.overall_rating < 1 %}
    <div class="span3 center">
      <div class="rate-banner"></div>
      <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.0.id }}">
        <div class="gift ratings_gift"></div>
        <div class="ratings-text ratings-text-6 hide"></div>
      </div>
      <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.0.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
            <div class="ratings-text ratings-text-{{ x }} hide"></div>
          {% endfor %}
      </div>
      <div class="wine-num-badge">
        <img src="{{ MEDIA_URL }}{{selected_wines.0.wine.image}}">
      </div>
      <p>{{selected_wines.0.wine.name}}</p>
    </div>
    {% endif %}
    {% if selected_wines.1.overall_rating < 1 %}
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.1.id }}">
          <div class="gift ratings_gift"></div>
          <div class="gift ratings-text ratings-text-6 hide"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.1.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
            <div class="ratings-text ratings-text-{{ x }} hide"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.1.wine.image}}">
        </div>
        <p>{{selected_wines.1.wine.name}}</p>
      </div>
    {% endif %}
    {% if selected_wines.2.overall_rating < 1 %}
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.2.id }}">
          <div class="gift ratings_gift"></div>
          <div class="gift ratings-text ratings-text-6 hide"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.2.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
            <div class="ratings-text ratings-text-{{ x }} hide"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.2.wine.image}}">
        </div>
        <p>{{selected_wines.2.wine.name}}</p>
      </div>
    {% endif %}
  </div>
  <div class="vertical-space">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <a href="{% url make_host %}">
        <div class="box-content2 make-host">
          <h1>Host a party!</h1>
          <p class="howto-sidetext">
            Pop the cork! <br />Learn about <br />
            hosting <br />a Vinely party. 
          </p>
          <img class="side-glass" src="{{ STATIC_URL }}img/make_host_sidebar_glass.png">
        </div>
        <div class="vertical-space"></div>
      </a>
    </div>
    {% if selected_wines|length > 3 %}
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.3.id }}">
          <div class="gift ratings_gift"></div>
          <div class="gift ratings-text ratings-text-6 hide"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.3.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
            <div class="ratings-text ratings-text-{{ x }} hide"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.3.wine.image}}">
        </div>
        <p>{{selected_wines.3.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.4.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.4.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.4.wine.image}}">
        </div>
        <p>{{selected_wines.4.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.5.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.5.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.5.wine.image}}">
        </div>
        <p>{{selected_wines.5.wine.name}}</p>
      </div>
    {% endif %}
  </div>
  <div class="vertical-space">&nbsp;</div>
  {% if selected_wines|length > 6 %}
    <div class="row">
      <div class="span3">
        &nbsp;
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.6.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.6.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.6.wine.image}}">
        </div>
        <p>{{selected_wines.6.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.2.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.2.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.7.wine.image}}">
        </div>
        <p>{{selected_wines.7.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.8.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.8.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars" data-rating="{{ x }}"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.8.wine.image}}">
        </div>
        <p>{{selected_wines.8.wine.name}}</p>
      </div>
    </div>
    <div class="vertical-space">&nbsp;</div>
    <div class="row">
      <div class="span3">
        &nbsp;
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.9.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.9.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.9.wine.image}}">
        </div>
        <p>{{selected_wines.9.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.10.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.10.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.10.wine.image}}">
        </div>
        <p>{{selected_wines.10.wine.name}}</p>
      </div>
      <div class="span3 center">
        <div class="rate-banner"></div>
        <div id="r1" class="rate_widget rate-widget-gift" data-wine="{{ selected_wines.11.id }}">
          <div class="gift ratings_gift"></div>
        </div>
        <div id="r1" class="rate_widget rate-widget-stars" data-wine="{{ selected_wines.11.id }}">
          {% for x in "12345" %}
            <div class="star_{{ x }} ratings_stars"></div>
          {% endfor %}
        </div>
        <div class="wine-num-badge">
          <img src="{{ MEDIA_URL }}{{selected_wines.11.wine.image}}">
        </div>
        <p>{{selected_wines.11.wine.name}}</p>
      </div>
    </div>
    <div class="vertical-space">&nbsp;</div>
  {% endif %}
  {% if selected_rated_wines %}
    <hr />
    <div class="row">
      <div class="span5">
        Wines you've already rated have been integrated into your taste profile to make sure you get wines you're guaranteed to love.
      </div>
      <div class="span2">&nbsp;</div>
      <div class="span1">
        <label>Reds <input type="checkbox" name="wine_color" value="0" /></label>
      </div>
      <div class="span2">
        <label>Whites <input type="checkbox" name="wine_color" value="1" /></label>
      </div>
    </div>
    <div class="vertical-space">&nbsp;</div>
    <div class="row">
      {% for selected_wine in selected_rated_wines %}
        <div class="span3 center rated-container">
          <div class="wine-num-badge">
            <img src="{{ MEDIA_URL }}{{selected_wine.wine.image}}">
          </div>
          <div class="rated-widget" data-wine="{{ selected_wine.id }}">
            <div class="rated-stars Rated-{{ wine_personality.suffix }}-{{ selected_wine.overall_rating }}"></div>
            <div class="rated-text Rating-{{ wine_personality.suffix }}-Text-{{ selected_wine.overall_rating }} hide"></div>
          </div>
          <p>Wine: {{selected_wine.wine.name}}</p>
          <p>Rating: {{selected_wine.get_overall_rating_display }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="vertical-space">&nbsp;</div>
  {% endif %}
</div>

{% endblock content %}

{% block additional_scripts %}
    <script type="text/javascript">
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
          crossDomain: false,
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  xhr.setRequestHeader("X-Content-Type", "application/json");
              }
          }
      });

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      $(document).ready( function () {
        $('.ratings_gift').hover(
          function() {
            $(this).addClass('ratings_gift_over');
            $(this).removeClass('ratings_gift_vote');
            $(this).siblings().show();
          },
          function() {
            $(this).removeClass('ratings_gift_over');
            // $(this).siblings().hide();
            $(this).siblings().hide();
          }
        );

        $('.ratings_stars').hover(
          // Handles the mouseover
          function() {
            $(this).prevAll().andSelf().addClass('ratings_over');
            $(this).nextAll().removeClass('ratings_vote'); 
            $(this).next().show();
          },
          // Handles the mouseout
          function() {
            $(this).prevAll().andSelf().removeClass('ratings_over');
            $(this).next().hide();
          }
        );

        $('.ratings_gift').bind('click', function() {
          var wine = $(this).parent().data('wine');
          $.post('{% url general_rate_wine 0 %}'.replace(0, wine), {overall_rating: 6})
          .done(function(json, textStatus, xhr) {
            console.log('Success');
          })
          .fail(function (xhr, status, error) {
              console.log("error: " + JSON.stringify(xhr));
              alert('Error: Sorry there was when trying to rate the wine.');
          });
        });

        // This actually records the vote
        $('.ratings_stars').bind('click', function() {
          var wine = $(this).parent().data('wine');
          var rating = $(this).data('rating');
            $.post('{% url general_rate_wine 0 %}'.replace(0, wine), {overall_rating: rating})
            .done(function(json, textStatus, xhr) {
              console.log('Success');
            })
            .fail(function (xhr, status, error) {
                console.log("error: " + JSON.stringify(xhr));
                alert('Error: Sorry there was when trying to rate the wine.');
            });
        });
        $('.rated-container').hover(
          function() {
            $(this).children('.rated-widget').children('.rated-text').show()
          },
          function() {
            $(this).children('.rated-widget').children('.rated-text').hide()
          }
        );
    });
    </script>
{% endblock additional_scripts %}