{% extends "winedora/base_html5.html" %}

{% load static%}

{% block additional_styles %}
<style type="text/css">
  .wine-num-badge {
    height: 190px;
    background-color: #fff;
    border: 1px solid rgb(147,149,152);
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 10px rgb(147,149,152);
    -webkit-box-shadow: 0px 1px 10px rgb(147,149,152);
    box-shadow: 0px 1px 10px rgb(147,149,152);
  }
  .wine-num-badge img {
    margin-top: 25%;
  }
  .span3 > p {
    margin-top: 10px;
  }
  .box-content2 {
    margin-top: 0;
    padding-bottom: 60px;
  }
  .side-glass {
    position: absolute;
    margin-left: 100px;
    margin-top: -80px;
  }
  .member-no-personality {
    position: absolute;
    margin-left: -80px;
    margin-top: -40px;
  }
  .member-personality {
    position: absolute;
    margin-left: -80px;
    margin-top: -60px;
    height: 300px;
  }
  .headline.has-personality {
    font-size: 50px;
  }
</style>
{% endblock additional_styles %}

{% block header %}
  <h1 class="headline">What did you think?</h1>
{% endblock header %}


{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span3 center">
      &nbsp;
      {% if wine_personality %}
        <div class="personality-badge-detail">
          <img class="member-personality" src="{{ STATIC_URL }}img/homepage_badge_{{ wine_personality.suffix }}.png" height="310">
        </div>
      {% else %}
        <div class="personality-badge-detail">
          <img class="member-no-personality" src="{% static "img/homepage_badge_mystery.png" %}" height="310" />
        </div>
      {% endif %}
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 1 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-ONE.png">
        </div>
      </a>
      {% if 1 == tasted_wines.0.wine.number %}
        <p>WINE: {{tasted_wines.0.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 1</p>
      {% endif %}
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 2 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-TWO.png">
        </div>
      </a>
      {% if 2 == tasted_wines.1.wine.number %}
        <p>WINE: {{tasted_wines.1.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 2</p>
      {% endif %}
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 3 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-THREE.png">
        </div>
      </a>
      {% if 3 == tasted_wines.2.wine.number %}
        <p>WINE: {{tasted_wines.2.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 3</p>
      {% endif %}
    </div>
  </div>
  <div class="vertical-space">&nbsp;</div>
  <div class="row">
    <div class="span3">
      <a href="{% url make_host %}">
        <div class="box-content2 make-host">
          <h1>Host a party!</h1>
          <p class="howto-sidetext">
            Pop the cork! <br />Learn about <br />
            hosting <br />a Vinely party. 
          </p>
          <img class="side-glass" src="{{ STATIC_URL }}img/make_host_sidebar_glass.png">
        </div>
        <div class="vertical-space"></div>
      </a>
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 4 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-FOUR.png">
        </div>
      </a>
      {% if 4 == tasted_wines.3.wine.number %}
        <p>WINE: {{tasted_wines.3.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 4</p>
      {% endif %}
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 5 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-FIVE.png">
        </div>
      </a>
      {% if 5 == tasted_wines.4.wine.number %}
        <p>WINE: {{tasted_wines.4.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 5</p>
      {% endif %}
    </div>
    <div class="span3 center">
      <a href="{% if wine_personality %}#{% else %}{% url member_rate_wines 6 %}{% endif %}">
        <div class="wine-num-badge">
          <img src="{{ STATIC_URL }}img/WINE-BADGE-SIX.png">
        </div>
      </a>
      {% if 6 == tasted_wines.5.wine.number %}
        <p>WINE: {{tasted_wines.5.wine.name}}</p>
      {% else %}
        <p>WINE: Wine 6</p>
      {% endif %}
    </div>
  </div>
  <div class="vertical-space">&nbsp;</div>
</div>

{% if wine_personality %}
<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <h1 class="headline has-personality">Whoops! Our apologies. <br/>You can't rate other wine shipments on this page yet.</h1>
  <section id="rate-instructions">
    <div class="row">
      <div class="span12 center">
        <p>
        It's still important that you rate the wines you have received. Here's three ways to do so:
        </p>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="span4">
      <div class="page-header">
        Email
      </div>
      <p>Take a picture or scan it and email it to <a href="ratings@vinely.com">ratings@vinely.com</a></p>
    </div>
    <div class="span4">
      <div class="page-header">
        Snail mail   
      </div>
        <address>
        Vinely<br>
        One Kendall Square Building 400, B4202<br>
        Cambridge, MA 02139<br>
        </address>
      </p>
    </div>

    <div class="span4">
      <div class="page-header">
      Call
      </div> 
      Talk to one of our Vinely Care Specialists at (888) 294-1128 ext. 1 or <a href="care@vinely.com">email</a> us. 
    </div>

  </div>
  <div class="vertical-space">
    &nbsp;
  </div>
</div>
{% endif %}

{% endblock content %}