{% extends "winedora/base_html5.html" %}

{% load static %}

{% block additional_styles %}
  <style type="text/css">    
    hr {
      width: 600px;
      margin: 1.3em -20px;
      border: 2px solid #DCDCDC;
    }
    .shaded {
      background-color: #EAEAE3;
    }
    label, input {
      position: relative;
      z-index: 100;
    }
    .tab-pane .control-group h2{
      top: 50%; margin-top: 0.5em; 
      font-size:2em;
      padding-left:20px;
      text-align:left;
    }
     .tab-pane .row {
      margin-bottom:40px;
      border-bottom:1px solid #DCDCDC;
      margin-right: 10px;
      font-family:"AlternateGothicNo2BT-Regular";
      text-transform:uppercase;
      }

    .tab-pane .last {
      margin-bottom:20px;
      border-bottom:0px;
      margin-right: 10px;
      }
    .ratings-shadow .span1 {
      width:40px;
    }
    .ratings-shadow .span2 {
      width: 120px;
    }
    .ratings-shadow .span5 {
      width: 290px;
    }
    .tab-pane .span5 .row {
      top: 50%; 
      border:0px;
    }
    .tab-pane .row .span4 {
      width:200px;
      padding-left:20px;
      }
    #email-invalid-error {
      display: none;
      color: #F00;
    }
    .wine-badge {
      width: 580px;
    }
    .wine-exp {
      padding-left: 180px;
    }
    ul {
      list-style: none;
    }
    .direction-shade {
      position: absolute;
      margin-top: 130px;
      height: 580px;
      background: url('{{ STATIC_URL }}img/member_ratings_left_shade.png') repeat-y;
    }
    .feeling-shade {
      position: absolute;
      margin-top: 750px;
      height: 90px;
      background: url('{{ STATIC_URL }}img/member_ratings_left_shade.png') no-repeat;
      margin-left: 170px;
      width: 140px;
    }
    .left-shade {
      margin-left: 170px;
      width: 140px;
    }
    .right-shade {
      margin-left: -150px;
      width: 120px;
    }
    .control-group {
      margin-left: -30px;
    }
    .vinely-rating-badge {
      border-top: 1px solid #DCDCDC;
      margin-top: -30px;
      width: 580px;
    }
    #vinely-badge-1 {
      background: url('{{ STATIC_URL }}img/vinely_logo_signature.png') no-repeat 10px 30px;
      width: 120px; 
      height: 100px;
      border-right: 1px solid #DCDCDC;
    }
    .wine-components {
      position: absolute;
      font-size: 13px;
    }
    .rating-left-arrow {
      position: absolute;
      background: url('{{ STATIC_URL }}img/ratingpage_arrow_left.png') no-repeat;
      width:87px;
      height: 50px;
      margin-left: 80px;
    }
    .rating-right-arrow {
      position: absolute;
      background: url('{{ STATIC_URL }}img/ratingpage_arrow_right.png') no-repeat;
      width:87px;
      height: 50px;
      margin: 165px -30px;
    }
    .rating-left-arrow.top-desc {
      margin-top: 175px;
    }
    .rating-left-arrow.bottom-desc {
      margin-top: 780px;
    }
    .wine-components.top-desc {
      margin: 250px -50px;
    }
    .wine-components.bottom-desc {
      margin: 850px -50px;
    }
    .wine-components.top-right-desc {
      margin: 220px 10px;
    }
    .state-head {
      font-size: 13px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  </style>
{% endblock %}

{% block header %}
  <h1 class="headline">What did you think?</h1>
  <div class="center">
    Enter ratings below as shown on your rating card.<br />
    Once you have rated all 6 wines you will receive your <br />
    Wine Personality.
  </div>
{% endblock header %}

{% block content %}
<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <form method="POST" action="{{ app_path }}">
    {%csrf_token%}
    {{ form.wine }}
    {{ form.user }}
    <div class="row">
      <div class="span2">
        &nbsp;
        <div class="direction-shade left-shade"></div>
        <div class="rating-left-arrow top-desc"></div>
        <div class="rating-left-arrow bottom-desc"></div>
        <div class="feeling-shade"></div>
      </div>
      <div class="span3 wine-components top-desc">
        <div class="state-head">The Wine Components</div>
        <p>Evaluate each of the 6 wines independent of past wines or <br/>your overall opinion of the wine.<p>
      </div>
      <div class="span3 wine-components bottom-desc">
        <div class="state-head">Wine as a whole</div>
        <p>Tell us what you thought of the wine overall.</p>
        <p>Don't worry you have feelings but the wine doesn't - so be honest.</p>
      </div>
      <div class="span8">
        <div class="ratings-shadow">
          <div class="tab-pane" id="wine">
            <div class="row">
              <div class="wine-badge">
                <div id="wine-badge-{{ wine_number }}">
                  <div class="wine-exp"><h2>My Wine Experience</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span2">
                <div class="control-group {% if form.sweet.errors %}error{% endif %}">
                  <!-- {{ form.wine }} -->
                  <h2>{{ form.sweet.label }}</h2>
                  {% if form.sweet.errors %}
                    <span class="help-inline">
                      {{ form.sweet.errors }}
                    </span>
                  {% endif %}                    
                </div>
              </div>
              <div class="span5">
                <div class="row">
                  {{ form.sweet }}
                </div>
              </div>
              <div class="span2">
                {{ form.sweet_dnl}} 
              </div>
            </div>
            <div class="row">
              <div class="span2">
                <div class="control-group {% if form.weight.errors %}error{% endif %}">
                  <h2>{{ form.weight.label }}</h2>
                  {% if form.weight.errors %}
                    <span class="help-inline">
                      {{ form.weight.errors }}
                    </span>
                  {% endif %}                    
                </div>
              </div>
              <div class="span5">
                <div class="row">
                  {{ form.weight }}
                </div>
              </div>
              <div class="span2">
                {{ form.weight_dnl}} 
              </div>
            </div>
            <div class="row">
              <div class="span2">
                <div class="control-group {% if form.texture.errors %}error{% endif %}">
                  <h2>{{ form.texture.label }}</h2>
                  {% if form.texture.errors %}
                    <span class="help-inline">
                      {{ form.texture.errors }}
                    </span>
                  {% endif %}
                </div>
              </div>
              <div class="span5">
                <div class="row">
                  {{ form.texture }}
                </div>
              </div>
              <div class="span2">
                {{ form.texture_dnl}} 
              </div>
            </div>
            <div class="row last">
              <div class="span2">
                <div class="control-group {% if form.sizzle.errors %}error{% endif %}">
                  <h2>{{ form.sizzle.label }}</h2>
                  {% if form.sizzle.errors %}
                    <span class="help-inline">
                      {{ form.sizzle.errors }}
                    </span>
                  {% endif %}                    
                </div>
              </div>
              <div class="span5">
                <div class="row">
                  {{ form.sizzle }}
                </div>
              </div>
              <div class="span2">
                {{ form.sizzle_dnl}} 
              </div>
            </div>
            <hr />
            <div class="row last">
              <div class="span2">
                <div class="control-group {% if form.overall.errors %}error{% endif %}">
                  <h2>{{ form.overall.label }}</h2>
                  {% if form.overall.errors %}
                    <span class="help-inline">
                      {{ form.overall.errors }}
                    </span>
                  {% endif %}
                </div>
              </div>
              <div class="span5">
                <div class="row">
                  {{ form.overall }}
                </div>
              </div>
              <div class="span2">
                {{ form.dnl}} 
              </div>
            </div>
            <div class="row">
              <div class="span8" style="margin-left: -30px;">
                <div class="wine-badge vinely-rating-badge">
                  <div id="vinely-badge-1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span2">
        &nbsp;
        <div class="direction-shade right-shade"></div>
        <div class="rating-right-arrow"></div>
        <div class="span3 wine-components top-right-desc">
          <div class="state-head">The Wine Components</div>
          <p>Don't over-think this...if you would have loved more of one component, choose "TOO LITTLE."
            Wanted less of something, choose "TOO MUCH."<p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span8 offset2">
        {% if all_wines_rated %}
          <a href="{% url member_reveal_personality %}" class="btn btn-success pull-right">Reveal your personality</a>
        {% else %}
          <button class="btn btn-success pull-right">Save</button>
        {% endif %}
        <a class="btn btn-primary" href="{% url member_ratings_overview %}">Back</a>
      </div>
    </div>
  </form>
  <div class="vertical-space">&nbsp;</div>
</div>
{% endblock content%}