{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Receiver Wine Personality</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="wine_personality">
  <div class="row">
    {% if personality %}
      <div class="span12">
        {% if order %}
        <p>Order: <a href="{% url supplier_edit_order order.order_id %}">{{ order.order_id }}</a><p>

        <p><h3>Shipping Information</h3></p>
        <address>
          <p>{{ order.receiver.first_name }} {{ order.receiver.last_name }}</p>
          <p>{{ order.shipping_address.street1 }}</p>
          {% if order.shipping_address.street2 %}
          <p>{{ order.shipping_address.street2 }}</p>
          {% endif %}
          <p>{{ order.shipping_address.city }}, {{ order.shipping_address.state }} {{ order.shipping_address.zipcode }}</p>
        </address>
        {% endif %}
        <p>
        <h3>Customer is a <span class="uppercase">{{ personality.name }}</span></h3>
        </p>
      </div>
      <div class="span12">
        <p class="lead">
        {{ personality.description }}
        </p>
      </div>
    {% else %}
      <div class="span12">
        Customer has yet to discover their wine personality.
      </div>
    {% endif %}

    {% if rating_data %}
      <table class="table">
        <thead>
          <tr>
            <th>Features</th>
            <th>Wine 1</th>
            <th>Wine 2</th>
            <th>Wine 3</th>
            <th>Wine 4</th>
            <th>Wine 5</th>
            <th>Wine 6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Overall</td>
            <td>{{ rating_data.wine1.overall }} [{{ rating_data.wine1.get_overall_display }}]</td>
            <td>{{ rating_data.wine2.overall }} [{{ rating_data.wine2.get_overall_display }}]</td>
            <td>{{ rating_data.wine3.overall }} [{{ rating_data.wine3.get_overall_display }}]</td>
            <td>{{ rating_data.wine4.overall }} [{{ rating_data.wine4.get_overall_display }}]</td>
            <td>{{ rating_data.wine5.overall }} [{{ rating_data.wine5.get_overall_display }}]</td>
            <td>{{ rating_data.wine6.overall }} [{{ rating_data.wine6.get_overall_display }}]</td>
          </tr>
          <tr>
            <td>Sweet</td>
            <td>{{ rating_data.wine1.sweet }} [{{ rating_data.wine1.get_sweet_dnl_display }}]</td>
            <td>{{ rating_data.wine2.sweet }} [{{ rating_data.wine2.get_sweet_dnl_display }}]</td>
            <td>{{ rating_data.wine3.sweet }} [{{ rating_data.wine3.get_sweet_dnl_display }}]</td>
            <td>{{ rating_data.wine4.sweet }} [{{ rating_data.wine4.get_sweet_dnl_display }}]</td>
            <td>{{ rating_data.wine5.sweet }} [{{ rating_data.wine5.get_sweet_dnl_display }}]</td>
            <td>{{ rating_data.wine6.sweet }} [{{ rating_data.wine6.get_sweet_dnl_display }}]</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{ rating_data.wine1.weight }} [{{ rating_data.wine1.get_weight_dnl_display }}]</td>
            <td>{{ rating_data.wine2.weight }} [{{ rating_data.wine2.get_weight_dnl_display }}]</td>
            <td>{{ rating_data.wine3.weight }} [{{ rating_data.wine3.get_weight_dnl_display }}]</td>
            <td>{{ rating_data.wine4.weight }} [{{ rating_data.wine4.get_weight_dnl_display }}]</td>
            <td>{{ rating_data.wine5.weight }} [{{ rating_data.wine5.get_weight_dnl_display }}]</td>
            <td>{{ rating_data.wine6.weight }} [{{ rating_data.wine6.get_weight_dnl_display }}]</td>
          </tr>
          <tr>
            <td>Texture</td>
            <td>{{ rating_data.wine1.texture }} [{{ rating_data.wine1.get_texture_dnl_display }}]</td>
            <td>{{ rating_data.wine2.texture }} [{{ rating_data.wine2.get_texture_dnl_display }}]</td>
            <td>{{ rating_data.wine3.texture }} [{{ rating_data.wine3.get_texture_dnl_display }}]</td>
            <td>{{ rating_data.wine4.texture }} [{{ rating_data.wine4.get_texture_dnl_display }}]</td>
            <td>{{ rating_data.wine5.texture }} [{{ rating_data.wine5.get_texture_dnl_display }}]</td>
            <td>{{ rating_data.wine6.texture }} [{{ rating_data.wine6.get_texture_dnl_display }}]</td>
          </tr>
          <tr>
            <td>Sizzle</td>
            <td>{{ rating_data.wine1.sizzle }} [{{ rating_data.wine1.get_sizzle_dnl_display }}]</td>
            <td>{{ rating_data.wine2.sizzle }} [{{ rating_data.wine2.get_sizzle_dnl_display }}]</td>
            <td>{{ rating_data.wine3.sizzle }} [{{ rating_data.wine3.get_sizzle_dnl_display }}]</td>
            <td>{{ rating_data.wine4.sizzle }} [{{ rating_data.wine4.get_sizzle_dnl_display }}]</td>
            <td>{{ rating_data.wine5.sizzle }} [{{ rating_data.wine5.get_sizzle_dnl_display }}]</td>
            <td>{{ rating_data.wine6.sizzle }} [{{ rating_data.wine6.get_sizzle_dnl_display }}]</td>
          </tr>
        </tbody>
      </table>
    {% endif %}


    </div>
  </section>

</div>

{% endblock content %}
