{% extends "winedora/base_html5.html" %}

{% load static %}

{% block header %}
  {% if invitee %}
    <h1 class="headline">{{ invitee.first_name }}, you are a {{ personality.name }}</h1>
  {% else %}
    <h1 class="headline">Here's your Wine Personality</h1>
  {% endif %}
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="wine_personality">
    <div class="row">
      {% if personality %}
        <div class="span8">
          {# Need to put the personality graphics #}
          <p>
            <img src="{{ STATIC_URL }}img/homepage_badge_{{ personality.suffix }}.png">
          </p>
        </div>
        <div class="span4">
          <h2>Vinely Order Recommendation</h2> 
          <p>
            Monthly: If you drink 3 bottles/week 
          </p>
          <p>
            Bi-Monthly: If you drink 1-2 bottles/week
          </p>
          <p>
            Quarterly: If you drink less than one bottle/week
          </p>
          <p>
            {% if role == "pro" %}
              {% if party_id %}
                <a href="{% url start_order invitee.id party_id %}" class="btn btn-primary">Get Wine for {{ invitee.first_name }}</a>
              {% else %}
                <a href="{% url start_order invitee.id %}" class="btn btn-primary">Get Wine for {{ invitee.first_name }}</a>
              {% endif %}
            {% else %}
              <a href="{% url start_order user.id %}" class="btn btn-primary">Get Wine</a>
            {% endif %}
          </p>
          <p>
            {# Need to check for permissions whether this is a party specialist #}
            {% if party_id %}
              <a href="{% url party_details party_id %}#party-tasters" class="btn btn-primary">&laquo; Back to guest list</a>
            {% else %}
              <a href="{% url home_page %}">&laquo; Back to Home Page</a>
            {% endif %}
          </p>
        </div>
      {% else %}
        <div class="span9">
          <p>
            <h2>You do not yet have a Wine Personality.</h2>
          </p>
          <p class="lead">
            Please join one of our parties to find your wine personality.
          </p>
        </div>
      {% endif %}
    </div> <!-- row -->
  </section>
  <div class="vertical-space-bottom">
  </div>
</div>

{% endblock content %}
