{% extends "winedora/base_html5.html" %}

{% load static %}

{% block additional_styles %}
  <style type="text/css">    
    hr {
      width: 920px;
      margin: 1.3em -20px;
      border: 2px solid #DCDCDC;
    }
    .shaded {
      background-color: #EAEAE3;
    }
    .tab-header h2 {
      color: #00C245;
    }
    .tab-header.completed h2 {
      color: #DCDCDC;
    }    
    #personality-exists-error {
      {% if not personality_exists %}
      display: none;
      {% endif %}
      color: #F00;
    }
    .tab-pane .control-group h2{
      top: 50%; margin-top: 0.5em; 
      font-size:2em;
      padding-left:20px;
    }
     .tab-pane .row {
      margin-bottom:40px;
      border-bottom:1px solid #DCDCDC;
      margin-right: 10px;
      font-family:"AlternateGothicNo2BT-Regular";
      text-transform:uppercase;
      }

      .tab-pane .last {
      margin-bottom:20px;
      border-bottom:0px;
      margin-right: 10px;
      }
    .span5 {
      width: 400px;
    }
    .tab-pane .row .span5 {
      padding-left:40px;
      }
    .tab-pane .span5 .row {
      top: 50%; margin-top: 2em;
      border:0px;
    }
    .tab-pane .row .span4 {
      width:200px;
      padding-left:20px;
      }
    #email-invalid-error {
      display: none;
      color: #F00;
    }
  </style>
{% endblock %}

{% block header %}
  <!-- <h1>{% if party %}Taste Party: {{ party.title }}{% else %}Record Wine Ratings{% endif %}</h1> -->
{% endblock header %}

{% block content %}
<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  {% if pro %}
    <form method="POST" action="" class="form-horizontal">
      {% csrf_token %}
      <div class="row">
        <div class="span3">
          <h2>Add Taster:</h2>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="control-group {% if taster_form.first_name.errors %}error{% endif %}">
            {{ taster_form.first_name }} 
            {% if taster_form.first_name.errors %}
              <span class="help-inline">
                {{ taster_form.first_name.errors }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="span3">
          <div class="control-group {% if taster_form.last_name.errors %}error{% endif %}">
            {{ taster_form.last_name }} 
            {% if taster_form.last_name.errors %}
              <span class="help-inline">
                {{ taster_form.last_name.errors }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="span3">
          <div class="control-group {% if taster_form.email.errors %}error{% endif %}">
            {{ taster_form.email }} 
            {% if taster_form.email.errors %}
              <span class="help-inline">
                {{ taster_form.email.errors }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="span1">
          <button type="submit" name="add_taster" value="add_taster" class="btn btn-primary">Add</button>   
        </div>
      </div>
    </form>
    <hr />
  {% endif %}
  
  <form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  <!-- <section id="user-ratings"> -->
    <div class="row">
      <div class="span8">
        <div class="row">
          {% if invitee.get_profile.has_personality %}
            <div class="span2">
              <img src="{{ STATIC_URL }}img/badge_{{ invitee.get_profile.wine_personality.suffix }}.png">
            </div>
          {% endif %}
          <div class="span5">
            <h3>Taster:</h3>
            <h1>{% if invitee.first_name %}{{ invitee.first_name }} {{ invitee.last_name }} {% else %} Anonymous {% endif %}</h1>
            {{ form.email }}
            <p>{{ invitee.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <p>
              Use the pages below to input Taster ratings. Keep in mind that you can come back later and edit any entry. 
              If you are short on time at the Taste Party, just input the "Feeling" Criteria. 
              You will need to come back later to add in the remainder of the feedback to accurately match wines for order fulfillment.
            </p>
          </div>
        </div>
      </div>
      <div class="span4">
        <h3>Quick Search:</h3>
        <p>
          <input type="text" placeholder="Type in new taster's name" class="typeahead"  data-provide="typeahead" />
          <button id="load_taster" type="submit" name="go" value="go" class="btn btn-primary">Go</button>
        </p>
        <p>&nbsp;</p>
        <p><a href="{% url party_details party.id %}" class="btn btn-primary">Return to party page</a></p>
        <p><button type="submit" name="save_ratings" value="save_ratings" class="btn btn-primary">Save Ratings</button></p>        
      </div>
    </div>
    {% if form.errors %}
      <div class="alert alert-error">Check all the tabs below to ensure that you have all fields in "Feeling" section completed.</div>
    {% endif %}
    <section id="user-ratings">
      <div class="row">
        <div class="span12">
          {% with ratings=invitee.wineratingdata_set.all %}
            <ul id="wine-ratings-tabs" class="nav nav-tabs nav-tabs-clean">
              <li {% if active_tab == 1 %} class="active" {% endif %}><a href="#wine1" data-toggle="tab" 
                class="span1 tab-header {% if ratings.0.overall %} completed {% endif %}"><h2>Wine 1</h2></a></li>
              <li {% if active_tab == 2 %} class="active" {% endif %}><a href="#wine2" data-toggle="tab" 
                class="span1 tab-header {% if ratings.1.overall %} completed {% endif %}"><h2>Wine 2</h2></a></li>
              <li {% if active_tab == 3 %} class="active" {% endif %}><a href="#wine3" data-toggle="tab" 
                class="span1 tab-header {% if ratings.2.overall %} completed {% endif %}"><h2>Wine 3</h2></a></li>
              <li {% if active_tab == 4 %} class="active" {% endif %}><a href="#wine4" data-toggle="tab" 
                class="span1 tab-header {% if ratings.3.overall %} completed {% endif %}"><h2>Wine 4</h2></a></li>
              <li {% if active_tab == 5 %} class="active" {% endif %}><a href="#wine5" data-toggle="tab" 
                class="span1 tab-header {% if ratings.4.overall %} completed {% endif %}"><h2>Wine 5</h2></a></li>
              <li {% if active_tab == 6 %} class="active" {% endif %}><a href="#wine6" data-toggle="tab" 
                class="span1 tab-header {% if ratings.5.overall %} completed {% endif %}"><h2>Wine 6</h2></a></li>
            </ul>
          {% endwith %}
          <div class="tab-content ratings-shadow">
            <!--
            ########################################
            # 
            # Wine 1 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 1 %}in active {% endif %}" id="wine1">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine1_sweet.errors %}error{% endif %}">
                    {{ form.wine1 }}
                    <center>
                      <h2>{{ form.wine1_sweet.label }}</h2>
                    </center>
                    {% if form.wine1_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine1_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine1_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine1_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine1_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine1_weight.label }}</h2>
                    </center>
                    {% if form.wine1_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine1_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine1_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine1_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine1_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine1_texture.label }}</h2>
                    </center>
                    {% if form.wine1_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine1_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine1_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine1_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine1_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine1_sizzle.label }}</h2>
                    </center>
                    {% if form.wine1_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine1_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine1_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine1_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine1_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine1_overall.label }}</h2>
                    </center>
                    {% if form.wine1_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine1_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine1_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine1_overall_dnl}} 
                </div>
              </div>              
            </div>
            <!--
            ########################################
            # 
            # Wine 2 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 2 %}in active {% endif %}" id="wine2">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine2_sweet.errors %}error{% endif %}">
                    {{ form.wine2 }}
                    <center>
                      <h2>{{ form.wine2_sweet.label }}</h2>
                    </center>
                    {% if form.wine2_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine2_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine2_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine2_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine2_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine2_weight.label }}</h2>
                    </center>
                    {% if form.wine2_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine2_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine2_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine2_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine2_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine2_texture.label }}</h2>
                    </center>
                    {% if form.wine2_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine2_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine2_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine2_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine2_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine2_sizzle.label }}</h2>
                    </center>
                    {% if form.wine2_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine2_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine2_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine2_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine2_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine2_overall.label }}</h2>
                    </center>
                    {% if form.wine2_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine2_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine2_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine2_overall_dnl}} 
                </div>
              </div>              
            </div>

            <!--
            ########################################
            # 
            # Wine 3 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 3 %}in active {% endif %}" id="wine3">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine3_sweet.errors %}error{% endif %}">
                    {{ form.wine3 }}
                    <center>
                      <h2>{{ form.wine3_sweet.label }}</h2>
                    </center>
                    {% if form.wine3_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine3_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine3_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine3_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine3_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine3_weight.label }}</h2>
                    </center>
                    {% if form.wine3_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine3_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine3_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine3_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine3_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine3_texture.label }}</h2>
                    </center>
                    {% if form.wine3_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine3_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine3_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine3_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine3_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine3_sizzle.label }}</h2>
                    </center>
                    {% if form.wine3_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine3_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine3_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine3_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine3_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine3_overall.label }}</h2>
                    </center>
                    {% if form.wine3_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine3_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine3_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine3_overall_dnl}} 
                </div>
              </div>              
            </div>
            <!--
            ########################################
            # 
            # Wine 4 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 4 %}in active {% endif %}" id="wine4">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine4_sweet.errors %}error{% endif %}">
                    {{ form.wine4 }}
                    <center>
                      <h2>{{ form.wine4_sweet.label }}</h2>
                    </center>
                    {% if form.wine4_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine4_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine4_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine4_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine4_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine4_weight.label }}</h2>
                    </center>
                    {% if form.wine4_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine4_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine4_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine4_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine4_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine4_texture.label }}</h2>
                    </center>
                    {% if form.wine4_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine4_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine4_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine4_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine4_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine4_sizzle.label }}</h2>
                    </center>
                    {% if form.wine4_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine4_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine4_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine4_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine4_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine4_overall.label }}</h2>
                    </center>
                    {% if form.wine4_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine4_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine4_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine4_overall_dnl}} 
                </div>
              </div>              
            </div>
            <!--
            ########################################
            # 
            # Wine 5 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 5 %}in active {% endif %}" id="wine5">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine5_sweet.errors %}error{% endif %}">
                    {{ form.wine5 }}
                    <center>
                      <h2>{{ form.wine5_sweet.label }}</h2>
                    </center>
                    {% if form.wine5_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine5_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine5_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine5_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine5_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine5_weight.label }}</h2>
                    </center>
                    {% if form.wine5_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine5_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine5_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine5_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine5_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine5_texture.label }}</h2>
                    </center>
                    {% if form.wine5_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine5_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine5_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine5_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine5_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine5_sizzle.label }}</h2>
                    </center>
                    {% if form.wine5_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine5_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine5_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine5_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine5_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine5_overall.label }}</h2>
                    </center>
                    {% if form.wine5_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine5_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine5_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine5_overall_dnl}} 
                </div>
              </div>              
            </div>
            <!--
            ########################################
            # 
            # Wine 6 Ratings
            #
            #########################################
            -->
            <div class="tab-pane fade {% if active_tab == 6 %}in active {% endif %}" id="wine6">
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine6_sweet.errors %}error{% endif %}">
                    {{ form.wine6 }}
                    <center>
                      <h2>{{ form.wine6_sweet.label }}</h2>
                    </center>
                    {% if form.wine6_sweet.errors %}
                      <span class="help-inline">
                        {{ form.wine6_sweet.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine6_sweet }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine6_sweet_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine6_weight.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine6_weight.label }}</h2>
                    </center>
                    {% if form.wine6_weight.errors %}
                      <span class="help-inline">
                        {{ form.wine6_weight.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine6_weight }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine6_weight_dnl}} 
                </div>
              </div>
              <div class="row">
                <div class="span2">
                  <div class="control-group {% if form.wine6_texture.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine6_texture.label }}</h2>
                    </center>
                    {% if form.wine6_texture.errors %}
                      <span class="help-inline">
                        {{ form.wine6_texture.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine6_texture }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine6_texture_dnl}} 
                </div>
              </div>
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine6_sizzle.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine6_sizzle.label }}</h2>
                    </center>
                    {% if form.wine6_sizzle.errors %}
                      <span class="help-inline">
                        {{ form.wine6_sizzle.errors }}
                      </span>
                    {% endif %}                    
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine6_sizzle }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine6_sizzle_dnl}} 
                </div>
              </div>
              <hr />
              <div class="row last">
                <div class="span2">
                  <div class="control-group {% if form.wine6_overall.errors %}error{% endif %}">
                    <center>
                      <h2>{{ form.wine6_overall.label }}</h2>
                    </center>
                    {% if form.wine6_overall.errors %}
                      <span class="help-inline">
                        {{ form.wine6_overall.errors }}
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div class="span5">
                  <div class="row">
                    {{ form.wine6_overall }}
                  </div>
                </div>
                <div class="span4">
                  {{ form.wine6_overall_dnl}} 
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
{% endblock content %}

{% block additional_scripts %}

<script src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript">
  var csrftoken = $.cookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      crossDomain: false, // obviates need for sameOrigin test
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  {% if personality_exists %}
  var personality_error = true;
  {% else %}
  var personality_error = false;
  {% endif %}

  var email_error = false;

  function get_popover_title() {
    if (personality_error) {
      return "Personality warning";
    } else if (email_error) {
      return "E-mail invalid error";
    }
  }

  function get_popover_content() {
    if (personality_error) {
      return 'Wine Personality already exists for this user so if you save you will be overriding!'; 
    } else if (email_error) {
      return 'E-mail address is an invalid address!';
    }   
  }

  // $("#id_email").popover(
  //   {
  //     title: get_popover_title,
  //     content: get_popover_content 
  //   }
  // );   

  // $('#id_email').keyup(function() {

  //   /* for now do not disable the submit button even though personality exists */
  //   $.ajax({
  //     type: "POST",
  //     url: "{% url check_personality_exists %}",
  //     data: { email: $(this).val() },
  //     success: function(data) {
  //       $('#id_email').popover("hide");
  //       $('#email-invalid-error').popover("hide");
  //       if ( data["result"] == 1 ) {
  //         personality_error = true;
  //         $('#id_email').popover("show");
  //         console.log("Show popover");
  //         /*$('button[type="submit"]').attr('disabled', 'disabled');*/
  //       } else if (data["result"] == 0 ) {
  //         personality_error = false;
  //         email_error = false;
  //         /*$('button[type="submit"]').removeAttr('disabled'); */
  //         $("#id_email").popover("hide")
  //         console.log("Hide popover");
  //       } else if (data["result"] == -1 ) {
  //         email_error = true;
  //         $('#id_email').popover("show");
  //         console.log("Show popover");
  //         /*$('button[type="submit"]').attr('disabled', 'disabled');*/         
  //       }
  //     }
  //   })
  // });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.typeahead').typeahead({
      source: function (query, process){
        // console.log("query: " + query);
        var url = "{% url taster_list -1 0 %}".replace(-1, query).replace(0, {{ party.id }});
        $.ajax({
          url: url,
          cache: true,
          dataType: "json",
          success: function(json, textStatus) {
            return process(json);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            // alert("error: " + errorThrown);
            console.log("error" + errorThrown)
          }
        });
        return [];
      }
    });

    $("#load_taster").click(function(e){
      var text = $('.typeahead').val();
      if (text.length > 0) {
        var url = "{% url record_all_wine_ratings -1 0 %}".replace(-1, text.split(",")[1].trim()).replace(0, {{ party.id }});
        // console.log("url: " + url);
        window.location = url;
      }
      return false;
    });
  });

</script>
{% endblock additional_scripts %}
