{% extends "winedora/base_html5.html" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="offset2 span6">
        <form class="form-horizontal well" method="POST" action="{% url login %}">
          {% csrf_token %}

          <fieldset>
            <legend>Sign in with your e-mail and password</legend>
            
            {% if form.non_field_errors %}
              <div class="alert alert-error">
                <strong>Error</strong>{{ form.non_field_errors }}
              </div>
            {% endif %}

            <div class="control-group">
              <label class="control-label" for="id_email">{{ form.email.label }}</label>
              <div class="controls">
                {{ form.email }}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="id_password">{{ form.password.label }}</label>
              <div class="controls">
                {{ form.password }}
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <a href="{% url forgot_password %}">Forgot Password?</a>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign In" />
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
            </div>
          </fieldset>
           
        </form>
      </div> <!-- span8 -->
    </div> <!-- row -->
  </div>
{% endblock content %}
