body {
  background: url('../img/site_background_pattern.png');
}

.navbar {
  margin-top: 10px;
}

.divider {
    border-top: 3px solid #415A68;
}
.navbar ul.nav.main_menu{
  width: 950px;
  height: 50px;
  margin: 0;
  padding: 0
}
.navbar ul.nav.main_menu li, .navbar ul.nav.main_menu a {
    height: 50px;
    display: block;
}
.navbar ul.nav.main_menu a { 
  padding: 0 0 0 0;
}
.navbar ul.nav.main_menu li {
    float: left;
    list-style: none;
    display: inline;
    text-indent: -9999em;
}
#parties {
  background: url('../img/main_nav_sprite.png') no-repeat 0px -50px; 
  width: 83px;
}
#shop {
  background: url('../img/main_nav_sprite.png') no-repeat -83px -50px; 
  width: 66px;
}
#rate_wines {
  background: url('../img/main_nav_sprite.png') no-repeat -149px -50px; 
  width: 118px;
}
#how_it_works {
  background: url('../img/main_nav_sprite.png') no-repeat -267px -50px; 
  width: 140px;
}
#nav_get_started {
  background: url('../img/main_nav_sprite.png') no-repeat -407px -50px; 
  width: 126px;
}
#our_story {
  background: url('../img/main_nav_sprite.png') no-repeat -533px -50px; 
  width: 111px;
}
#dashboard {
  background: url('../img/main_nav_sprite.png') no-repeat -644px -50px; 
  width: 119px;
}
#vinely_u {
  background: url('../img/main_nav_sprite.png') no-repeat -763px -50px; 
  width: 93px;
}
#parties a:hover, #parties.active { background: url('../img/main_nav_sprite.png') no-repeat 0px 0px;}
#shop a:hover, #shop.active { background: url('../img/main_nav_sprite.png') no-repeat -83px 0px;}
#rate_wines a:hover, #rate_wines.active { background: url('../img/main_nav_sprite.png') no-repeat -149px 0px;}
#how_it_works a:hover, #how_it_works.active { background: url('../img/main_nav_sprite.png') no-repeat -267px 0px;}
#nav_get_started a:hover, #nav_get_started.active { background: url('../img/main_nav_sprite.png') no-repeat -407px 0px;}
#our_story a:hover, #our_story.active { background: url('../img/main_nav_sprite.png') no-repeat -533px 0px;}
#dashboard a:hover, #dashboard.active { background: url('../img/main_nav_sprite.png') no-repeat -644px 0px;}
#vinely_u a:hover, #vinely_u.active { background: url('../img/main_nav_sprite.png') no-repeat -763px 0px;}

#get_started, #get_started a {
  background: url('../img/btn_pie_getstarted.png') no-repeat;
  width: 85px;
  height: 85px;
  display: block;
}
.box {
  background-color: #415A68;
  opacity: 0.2;
    -moz-opacity:0.2; 
    -webkit-opacity:0.2;
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 50px;
}
.foo {
  color: #415A68;
  text-transform: uppercase;
}

#badges {
  background: url('../img/badges_sprite.png') no-repeat 0px 0px; 
  width: 940px;
  height: 130px;
  margin: 0;
  padding: 0
}

#sl:hover {background: url('../img/badges_sprite.png') no-repeat 20px 50px;}

.cart-item-image {
  float: left;
}

.cart-item-name {
  padding-left: 140px;
  padding-top: 20px;
}

.cart-sub-total {
  padding-left: 100px;
}

.user-pic {
  float: left;
}

.user-contact {
  padding-left: 140px;
}

#id_custom_message {
  width: 600px;
}

