{% extends "main/menu_base.html" %}

{% block additional_styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css"> 
{% endblock %}

{% block header %}
  <h1>My Account</h1>
{% endblock header %}

{# this is where it lands when a user clicks "My Account" #}

{% block left_navigation %}
  <li{% if my_information %} class="active"{% endif %}><a href="{% url my_information %}">My Information</a></li>
  <li{% if change_password %} class="active"{% endif %}><a href="{% url change_password %}">Change Password</a></li>
  <li{% if verify_eligibility %} class="active"{% endif %}><a href="{% url verify_eligibility %}">Verify Eligibility</a></li>
  <li{% if edit_subscription %} class="active"{% endif %}><a href="{% url edit_subscription %}">Edit Subscription</a></li>
  <li{% if order_history %} class="active"{% endif %}><a href="{% url order_history %}">Order History</a></li>
{% endblock left_navigation %}

{% block right_content %}
{% endblock right_content %}

{% block additional_scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $(document).ready( function () {
        $(".datepicker").datepicker();
    });
  </script>
{% endblock %}
