{% extends "main/menu_base.html" %}

{% block header %}
  <h1>My Account</h1>
{% endblock header %}

{% block left_navigation %}
  <li class="active"><a href="{% url change_password %}">Change Password</a></li>
  <li><a href="{% url verify_eligibility %}">Verify Eligibility</a></li>
  <li><a href="{% url edit_subscription %}">Edit Subscription</a></li>
  <li><a href="{% url update_addresses %}">Update Addresses</a></li>
{% endblock left_navigation %}

{% block right_content %}
  <div class="row">
    <div class="span9">
      <form class="form-horizontal well" method="POST" action="{% url change_password %}">
        {% csrf_token %}

        {% if error %}
          <div class="alert alert-error">
            {{ error }}
          </div>
        {% endif %}
        {% if form.errors %}
          <div class="alert alert-error">
            {{ form.errors }}
          </div>
        {% endif %}

        {% if messages %}
          {% for message in messages %}
            {% if "info" in message.tags %}
              <div class="alert alert-info">{{ message }}</div>
            {% elif "success" in message.tags %}
              <div class="alert alert-success">{{ message }}</div>
            {% elif "error" in message.tags or "warning" in message.tags %}
              <div class="alert alert-error">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}

        <fieldset>
          <legend>Change Password</legend>
          <div class="control-group">
            <div class="control-label" for="id_old_password">
            {{ form.old_password.label }}
            </div>
            <div class="controls">
              {{ form.old_password }}
            </div>
          </div>
          <hr>
          <div class="control-group">
            <div class="control-label" for="id_new_password">
            {{ form.new_password.label }}
            </div>
            <div class="controls">
              {{ form.new_password }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_retype_password">
            {{ form.retype_password.label }}
            </div>
            <div class="controls">
              {{ form.retype_password }}
            </div>
          </div>
          <div class="form-actions">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Update Password</button>
              {{ form.email }}
            </div>
          </div>
        </fieldset>
      </form>
    </div> <!-- span9 -->
  </div> <!-- row -->
{% endblock right_content %}
