{% extends "accounts/base_my_account.html" %}

{% load thumbnail %}

{% block right_content %}
      <form class="form-horizontal well" method="POST" action="{% url edit_subscription %}">
          {% csrf_token %}

          {% if error %}
            <div class="alert alert-error">
              {{ error }}
            </div>
          {% endif %}
          {% if form.errors %}
            <div class="alert alert-error">
              {{ form.errors }}
            </div>
          {% endif %}

        {{ form.user }}
        <fieldset>
          <legend>Edit Subscription</legend>

          <table class="table">
            <tr>
              <td><b>Invited By</b></td>
              <td>
                {% if invited_by %}
                  {{ invited_by.first_name }} {{ invited_by.last_name }}
                {% else %}
                  Self invited
                {% endif %}
              </td>
              <td>
              {% if invited_by %}
              <!-- <a href="">unlink</a> -->
              {% endif %}
              </td>
            </tr>
            <tr>
              <td><b>Vinely Pro</b></td>
              <td>
                {% if pro %}
                  You are a pro
                {% elif pro_user %}
                 <div class="pro-info">
                  <div class="pro-photo">
                    {% thumbnail pro_profile.image "100x100" format="PNG" as im %}
                      <img src="{{ im.url }}"/>
                    {% endthumbnail %}            
                  </div>
                  <div class="pro-name">
                    {{ pro_user.get_full_name }}
                  </div>
                  <div class="pro-bio">
                    Biography~~~
                  </div>
                  <div class="pro-email">
                    <a href="mailto:{{ pro_user.email }}">{{ pro_user.email }}</a>
                  </div>
                  <div class="pro-phone">
                    <i class="icon-user"></i>{{ pro_profile.phone }}
                  </div>
                </div>         
                {% else %}
                  No pro assigned (email <a href="mailto:care@vinely.com">care@vinely.com</a>)
                {% endif %}
              </td> 
              <td>
            		{% if not pro %}
                  {% if pro_user%}
            		    <a id="unlink_pro" href="{% url pro_unlink %}">unlink</a>
                  {% else %}
                    <a id="link_pro" href="javascript:;">Link to pro</a>
                  {% endif %}
            		{% endif %}
      	      </td>
            </tr>
          </table> 
        </fieldset>
        <hr>
        <fieldset>
          <div class="control-group">
            <div class="control-label" for="id_frequency">
              {{ form.frequency.label }}
            </div>
            <div class="controls">
              {{ form.frequency }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_quantity">
            {{ form.quantity.label }}
            </div>
            <div class="controls">
              {{ form.quantity }}
            </div>
          </div>

          <div class="form-actions">
            <div class="controls">
              <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
          </div>
        </fieldset>
      </form>

      <div id="link_pro_modal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Link me to a Pro</h3>
        </div>
        <div class="modal-body">
          <form method="POST" class="modal-form" action="{% url pro_link %}">{% csrf_token %}
            <p>Provide the email address of the Pro that you'd like to be linked to.</p>
            <br />
            <div class="control-label" for="id_email">
              {{ pro_link_form.email.label }}
            </div>
            <div class="controls">
              {{ pro_link_form.email }}
            </div>
            <div class="modal-footer">
              <input type="submit" name="update" class="btn btn-primary" value="Update" />
            </div>
          </form>
        </div>
      </div> 

{% endblock right_content %}

{% block additional_scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#link_pro").click(function(e) {
      $("#link_pro_modal").modal();
      return false;
    });
  });
</script>
{% endblock additional_scripts %}
