{% extends "accounts/base_my_account.html" %}

{% load thumbnail %}

{% block right_content %}
  <div class="row">
      <form class="form-horizontal well" method="POST" action="{% url edit_subscription %}">
          {% csrf_token %}

          {% if error %}
            <div class="alert alert-error">
              {{ error }}
            </div>
          {% endif %}
          {% if form.errors %}
            <div class="alert alert-error">
              {{ form.errors }}
            </div>
          {% endif %}

        {{ form.user }}
        <fieldset>
          <legend>Edit Subscription</legend>

          <table class="table">
            <tr>
              <td><b>Invited By</b></td>
              <td>
                {% if invited_by %}
                  {{ invited_by.first_name }} {{ invited_by.last_name }}
                {% else %}
                  Self invited
                {% endif %}
              </td>
              <td><a href="">unlink</a></td>
            </tr>
            <tr>
              <td><b>Vinely Pro</b></td>
              <td>
                {% if pro %}
                  You are a pro
                {% elif pro_user %}
                 <div class="pro-info">
                  <div class="pro-photo">
                    {% thumbnail pro_profile.image "100x100" format="PNG" as im %}
                      <img src="{{ im.url }}"/>
                    {% endthumbnail %}            
                  </div>
                  <div class="pro-name">
                    Pro Name
                  </div>
                  <div class="pro-bio">
                    Biography~~~
                  </div>
                  <div class="pro-email">
                    <a href="mailto:">{{ pro_user.email }}</a>
                  </div>
                  <div class="pro-phone">
                    <i class="icon-user"></i>{{ pro_profile.phone }}
                  </div>
                </div>         
                {% else %}
                  No pro assigned
                {% endif %}
              </td> 
              <td><a href="">unlink</a></td>
            </tr>
          </table> 
        </fieldset>
        <hr>
        <fieldset>
          <div class="control-group">
            <div class="control-label" for="id_frequency">
              {{ form.frequency.label }}
            </div>
            <div class="controls">
              {{ form.frequency }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_quantity">
            {{ form.quantity.label }}
            </div>
            <div class="controls">
              {{ form.quantity }}
            </div>
          </div>

          <div class="form-actions">
            <div class="controls">
              <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
          </div>
        </fieldset>
           

      </form>


  </div> <!-- row -->
{% endblock right_content %}
