{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Forgot Password</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  {% if changed_password %}
    <div class="row">
      <div class="span8">
        You should be receiving a verification e-mail soon at {{ email }}. Please click the link in the e-mail to reset your password.
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p>&nbsp;</p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="span10">
        <form class="well form-horizontal" method="POST" action="{% url forgot_password %}">
          {% csrf_token %}
          <div class="control-group{% if form.email.errors %} error{% endif %}">
            <div class="control-label" for="id_email">{{ form.email.label }}</div>
            <div class="controls">
              {{ form.email }} 
              {% if form.email.errors %}
                <span class="help-inline">
                  {{ form.email.errors }}
                </span>
              {% endif %}
            </div>
          </div>

          <div class="form-actions">
            <div class="controls">
              <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}

</div>

{% endblock content %}
