{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Welcome to Vinely, {{ first_name }}</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="offset2 span8">
      <p>We love a good party and we're glad you'd like to host one! Stay on the lookout for an email that should be arriving from a Vinely Pro. </p>

      <p>If you haven't heard anything in 48 hours, please contact a Vinely Care Specialist at (888) 294-1128 ext. 1 or <a href="mailto:care@vinely.com">email</a> us.</p>
    </div>
  </div>
  <div class="row">
    <div class="offset2 span8">
      <p>&nbsp;</p>
    </div>
  </div>

</div>

{% endblock content %}
