{% extends "winedora/base_html5.html" %}

{% load static %}

{% block additional_styles %}
<style type="text/css">
  .next-nav a, .state-head {
    /*display: inline-block;*/
    display: table-cell;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Avenir LT W01 85 Heavy", "Helvetica", "sans-serif";
    line-height: 1.3em;
    *line-height: 20px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    color: inherit;
  }
  .make-host h1,
  .make-host p {
    margin-top: -10px;
    color: #415A68;
    text-align: left;
  }
  .side-glass {
    position: absolute;
    margin-top: -95px;
    /*margin-left: 85px;*/
  }
  .table.rewards tbody td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background:#F0F0F0;
  }
  .table.rewards th:first-child {
    padding-left: 10px;
    width: 90px;
  }
/*  .table.rewards {
    border: 1px solid rgb(147,149,152);
    background-color: #fff;
  }*/
  .table.rewards th:nth-child(2) {
    color: #48C063;
    width: 130px;
  }
  .table.rewards td:nth-child(2),
  .table.rewards th:nth-child(2) {
    text-align: right;
  }
</style>
{% endblock additional_styles %}

{% block header %}
  <h1 class="headline">{{ heading|safe }}</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      <h2 class="center">
        {% block subheading %}
        <!-- {{ sub_heading|safe }} -->
        {% endblock subheading %}
      </h2>
      <div class="vertical-space"></div>
    </div>
    <div class="span3">
      <div class="box-container sidebar-nav-container">
        <div class="box-content">
          <div class="sidebar-nav">
            <ul class="side-nav">
              <li {% if state == 'overview' %}class="active"{% endif %}><div class="chev"><a href="{% url make_host %}">Host a party</a></div></li>
              <li {% if state == 'people' %}class="active"{% endif %}><div class="chev"><a href="{% url make_host 'people' %}">People</a></div></li>
              <li {% if state == 'place' %}class="active"{% endif %}><div class="chev"><a href="{% url make_host 'place' %}">Place</a></div></li>
              <li {% if state == 'rewards' %}class="active"{% endif %}><div class="chev"><a href="{% url make_host 'rewards' %}">Rewards</a></div></li>
              <li {% if state == 'order' %}class="active"{% endif %}><div class="chev"><a href="{% url make_host 'order' %}">Order</a></div></li>
            </ul>
          </div>
        </div>
        <div class="box-bg"></div>  
      </div>
      <div class="vertical-space">&nbsp;</div>

      <div class="box-container2 sidebar-nav-container">
        <a href="{% url make_host 'signup' %}">
          <div class="box-content2 make-host">
            <h1>Host a party!</h1>
            <p class="make-host-sidetext">
              <!-- Sign up and begin planning your party today! -->
              Pop the cork! Learn about hosting a Vinely Party
            </p>
            <!-- <div class="box-bg"></div> -->
            <img class="side-glass" src="{{ STATIC_URL }}img/make_host_sidebar_glass.png">
          </div>
        </a>
      </div>
    </div>
    <div class="span5 center">
      <img src="{{ STATIC_URL }}img/make_host_{{ state }}.png" />
    </div>
    <div class="span4">
      <div class="row">
        <div class="span4 state-head"><strong>{{ state }}</strong></div>
      </div>
      <p>
        {{ content|safe }}
        {% if state == 'rewards' %}
          <table class='table table-striped rewards box-content2'>
            <thead>
              <tr>
                <th><p class="state-head">party sales</p></th>
                <th><p class="state-head">host credit earned</p></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$0 - $399</td>
                <td> $20</td>
              </tr>
              <tr>
                <td>$400 - $599</td>
                <td>$60</td>
              </tr>
              <tr>
                <td>$600 - $799</td>
                <td> $80</td>
              </tr>
              <tr>
                <td>$800 - $999</td>
                <td>$110</td>
              </tr>
              <tr>
                <td>$1,000 - $1,199</td>
                <td>$140</td>
              </tr>
              <tr>
                <td>$1,200 - $1,399</td>
                <td>$170</td>
              </tr>
              <tr>
                <td>$1,400 - $1,599</td>
                <td>$200</td>
              </tr>
              <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            </tbody>
          </table>
        {% endif %}
      </p>
      <div class="vertical-space"></div>
      <div class="row">
        <div class="span2 next-nav cta-button">
          {% if state == 'overview' %}<a class="cta-interested" href="{% url make_host 'people' %}">Interested? Read on...</a>{% endif %}
          {% if state == 'people' %}<a class="cta-next" href="{% url make_host 'place' %}">Next</a>{% endif %}
          {% if state == 'place' %}<a class="cta-next" href="{% url make_host 'rewards' %}">Next</a>{% endif %}
          {% if state == 'rewards' %}<a class="cta-next" href="{% url make_host 'order' %}">Next</a>{% endif %}
          {% if state == 'order' %}<a class="cta-signup" href="{% url make_host 'signup' %}">Sign up</a>{% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-space">
    &nbsp;
  </div>
</div>

{% endblock content %}

