{% extends "accounts/base_my_account.html" %}

{% load thumbnail %}
{% load static from staticfiles %}

{% block additional_styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css"> 
  <style type="text/css">
    .payment-form select {
      width: 110px;
    }
  </style>
{% endblock %}

{# this is where it lands when a user clicks "My Account" #}

{% block right_content %}
      <form enctype="multipart/form-data" class="form-horizontal well" method="POST" action="{% url my_information %}">
        {% csrf_token %}


        {% if not updated %}
          {% if error %}
            <div class="alert alert-error">
              {{ error }}
            </div>
          {% endif %}
          {% if user_form.errors %}
            <div class="alert alert-error">
              {{ user_form.errors }}
            </div>
          {% endif %}

          {% if profile_form.errors %}
            <div class="alert alert-error">
              {{ profile_form.errors }}
            </div>
          {% endif %}

          {% if shipping_form.errors %}
            <div class="alert alert-error">
              {{ shipping_form.errors }}
            </div>
          {% endif %}

          {% if billing_form.errors %}
            <div class="alert alert-error">
              {{ billing_form.errors }}
            </div>
          {% endif %}

          {% if payment_form.errors %}
            <div class="alert alert-error">
              {{ payment_form.errors }}
            </div>
          {% endif %}
        {% endif %}

        <fieldset>
          <div class="control-group">
            <div class="controls">
              {% if profile.image %}
                {% thumbnail profile.image "120x120" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              {% else %}
                <img src="{{ STATIC_URL }}img/noprofilephoto_img.png" height="120">
              {% endif %}
            </div>
            <div class="control-label" for="id_profile-image">
            {{ profile_form.image.label }}
            </div>
            <div class="controls">
              {{ profile_form.image }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_user-first_name">
            {{ user_form.first_name.label }}
            </div>
            <div class="controls">
              {{ user_form.first_name }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_user-last_name">
            {{ user_form.last_name.label }}
            </div>
            <div class="controls">
              {{ user_form.last_name}}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_user-email">
            {{ user_form.email.label }}
            </div>
            <div class="controls">
              {{ user_form.email}}
            </div>
          </div>         
          <div class="control-group">
            <div class="control-label" for="id_profile-phone">
            {{ profile_form.phone.label }}
            </div>
            <div class="controls">
              {{ profile_form.phone }}
            </div>
          </div>         
        </fieldset>

        <fieldset>
          <legend>Shipping Information</legend>

          <div class="control-group">
            <div class="control-label" for="id_shipping-street1">
            {{ shipping_form.street1.label }}
            </div>
            <div class="controls">
              {{ shipping_form.street1 }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_shipping-street2">
            {{ shipping_form.street2.label }}
            </div>
            <div class="controls">
              {{ shipping_form.street2 }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_shipping-city">
            {{ shipping_form.city.label }}
            </div>
            <div class="controls">
              {{ shipping_form.city }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_shipping-state">
            {{ shipping_form.state.label }}
            </div>
            <div class="controls">
              {{ shipping_form.state }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_shipping-zipcode">
            {{ shipping_form.zipcode.label }}
            </div>
            <div class="controls">
              {{ shipping_form.zipcode }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Billing Information</legend>
          <div class="control-group">
            <div class="control-label" for="id_billing-street1">
            {{ billing_form.street1.label }}
            </div>
            <div class="controls">
              {{ billing_form.street1 }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_billing-street2">
            {{ billing_form.street2.label }}
            </div>
            <div class="controls">
              {{ billing_form.street2 }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_billing-city">
            {{ billing_form.city.label }}
            </div>
            <div class="controls">
              {{ billing_form.city }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_billing-state">
            {{ billing_form.state.label }}
            </div>
            <div class="controls">
              {{ billing_form.state }}
            </div>
          </div>
          <div class="control-group">
            <div class="control-label" for="id_billing-zipcode">
            {{ billing_form.zipcode.label }}
            </div>
            <div class="controls">
              {{ billing_form.zipcode }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Payment Information</legend>
          <div class="payment-form">
            {{ payment_form.card_type }}

            <div class="control-group">
              <div class="control-label" for="id_payment-card_number">{{ payment_form.card_number.label }}</div>
              <div class="controls">
                {{ payment_form.card_number}} 
              </div>
            </div>

            <div class="control-group">
              <div class="control-label" for="id_payment-exp_month">{{ payment_form.exp_month.label }}</div>
              <div class="controls">
                {{ payment_form.exp_month}} {{ payment_form.exp_year }}
              </div>
            </div>

            <div class="control-group">
              <div class="control-label" for="id_payment-verification_code">{{ payment_form.verification_code.label }}</div>
              <div class="controls">
                {{ payment_form.verification_code}} 
              </div>
            </div>

            <div class="control-group">
              <div class="control-label" for="id_payment-billing_zipcode">{{ payment_form.billing_zipcode.label }}</div>
              <div class="controls">
                {{ payment_form.billing_zipcode}} 
              </div>
            </div>          
          </div>
        </fieldset>
        
        <div class="form-actions">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Update</button>
            {{ form.email }}
          </div>
        </div>        
      </form>
{% endblock right_content %}
