{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Verifying Your Account</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span8">
    Please verify that your e-mail address is {{ email }} and update your password.
    </div>
  </div>
  <div class="row">
  <form>
    {{ form.as_table }}
  </form>

        <form class="form-horizontal well" method="POST" action="{% url login %}">
          {% csrf_token %}

          {% if error %}
            <div class="alert alert-error">
              {{ error }}
            </div>
            <div class="alert alert-error">
              {{ form.errors }}
            </div>
          {% endif %}

          <fieldset class="control-group">
            <label class="control-label" for="email">E-mail:</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="email">
            </div>
          </fieldset>
          <fieldset class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="password">
            </div>
          </fieldset>
          <fieldset class="control-group">
            <div class="controls">
              <input class="btn btn-primary" type="submit" value="login" />
            </div>
          </fieldset>
           
        </form>
      </div> <!-- span8 -->
    </div> <!-- row -->

</div>

{% endblock content %}
