{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Verifying Your Account</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  {% if error %}
  <div class="row">
    <div class="span8">
      {{ error }} 
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>&nbsp;</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="span12">
    Please verify that your e-mail address is {{ email }} and update your password.
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <form class="form-horizontal well" method="POST" action="{% url verify_account verification_code %}">
        {% csrf_token %}

        {{ form.email }}

        {% if form.non_field_errors %}
          <div class="alert alert-error">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <fieldset>
          <div class="control-group{% if form.temp_password.errors %} error{% endif %}">
            <label class="control-label" for="id_temp_password">{{ form.temp_password.label }}</label>
            <div class="controls">
              {{ form.temp_password }}
              <span class="help-inline error">{{ form.temp_password.errors }}</span>
            </div>
          </div>
          <hr>
          <div class="control-group">
            <label class="control-label" for="id_new_password">{{ form.new_password.label }}</label>
            <div class="controls">
              {{ form.new_password }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_retype_password">{{ form.retype_password.label }}</label>
            <div class="controls">
              {{ form.retype_password }}
            </div>
          </div>
          {% comment %}
          <div class="control-group">
            <div class="controls">
              <label class="checkbox inline">
              {{ form.accepted_tos }}
              {{ form.accepted_tos.label }}
              [<a href="{% url terms %}">Terms</a>]
              </label>
            </div>
          </div>
          {% endcomment %}
          <div class="form-actions">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
          </div>
        </fieldset>

      </form>
    </div>
  </div> <!-- row -->
  {% endif %}

</div>

{% endblock content %}
