{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Verifying Your Account</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  {% if error %}
  <div class="row">
    <div class="span8">
      {{ error }} 
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>&nbsp;</p>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="span8">
    Please verify that your e-mail address is {{ email }} and update your password.
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal well" method="POST" action="{% url verify_account verification_code %}">
      {% csrf_token %}

      {{ form.email }}

      {% if form.errors %}
        <div class="alert alert-error">
          {{ form.errors }}
        </div>
      {% endif %}

        <fieldset>
          <div class="control-group">
            <label class="control-label" for="id_temp_password">{{ form.temp_password.label }}</label>
            <div class="controls">
              {{ form.temp_password }}
            </div>
          </div>
          <hr>
          <div class="control-group">
            <label class="control-label" for="id_new_password">{{ form.new_password.label }}</label>
            <div class="controls">
              {{ form.new_password }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_retype_password">{{ form.retype_password.label }}</label>
            <div class="controls">
              {{ form.retype_password }}
            </div>
          </div>
          <div class="form-actions">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
          </div>
        </fieldset>

      </form>
    </div> <!-- span8 -->
  </div> <!-- row -->
  {% endif %}

</div>

{% endblock content %}
