{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Verified E-mail Address</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
    <div class="row">
      <div class="span8">
        Your new e-mail address has been verified and now usable.  Please use this new e-mail address to access your account.
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p>&nbsp;</p>
      </div>
    </div>
</div>

{% endblock content %}
