{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>About Winedora</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
        <a href="#team">Winedora Team</a>
      </li>
      <li>
        <a href="#personalities">Wine Personalities</a>
      </li>
      <li>
        <a href="#party-specialists">Party Specialists</a>
      </li>
      <li>
        <a href="#party-hosts">Party Hosts</a>
      </li>
      <li>
        <a href="#attendees">Attendees</a>
      </li>
    </ul>
  </div>


  <section id="team">
    Winedora is Redstar Ventures third operating company.  
    <h2>Bill Wittenberg</h2>
    <h2>Elizabeth Goede</h2>
    <h2>John Stecco</h2>
    <h2>Jayme Mendal</h2>
  </section>
  <section id="personalities">
    
  </section>
  <section id="party-specialists">
  </section>
  <section id="party-hosts">
  </section>
  <section id="attendees">
  </section>

</div>

{% endblock content %}

