{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>About Vinely</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
        <a href="#team">Vinely Team</a>
      </li>
      <li>
        <a href="#personalities">Wine Personalities</a>
      </li>
      <li>
        <a href="#how-it-works">How It Works</a>
      </li>
      <li>
        <a href="#party-specialists">Party Specialists</a>
      </li>
      <li>
        <a href="#party-hosts">Party Hosts</a>
      </li>
      <li>
        <a href="#attendees">Attendees</a>
      </li>
    </ul>
  </div>


  <section id="team">
    <div class="page-header">
      <h2>Management Team</h2>
    </div>
    Vinely is Redstar Ventures third operating company.  
    <h3>Bill Wittenberg</h3>
    <h3>Elizabeth Goede</h3>
    <h3>John Stecco</h3>
    <h3>Jayme Mendal</h3>
  </section>
  <section id="personalities">
    <div class="page-header">
      <h2>Wine Personalities</h2>
    </div>
  </section>
  <section id="how-it-works">
    <div class="page-header">
      <h2>How It Works</h2>
    </div>
  </section>
  <section id="party-specialists">
    <div class="page-header">
      <h2>Party Specialists</h2>
    </div>
  </section>
  <section id="party-hosts">
    <div class="page-header">
      <h2>Party Hosts</h2>
    </div>
  </section>
  <section id="attendees">
    <div class="page-header">
      <h2>Party Attendees</h2>
    </div>
  </section>

</div>

{% endblock content %}

