{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}
  <h1 class="headline">Your Cart</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12 center">
      {% if cart %}
        Review and place your order
      {% else %}
        Your cart is empty
      {% endif %}
    </div>
  </div>

  <section id="cart-items">
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Frequency</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>
              <div class="cart-item">
                <div class="cart-item-image">
                  {% if item.img_file_name %}
                    <img src="{{ STATIC_URL }}img/{{ item.img_file_name }}" width="100" height="100">
                  {% else %}
                      <img src="{% static "img/firsthostkit_prodimg.png" %}" width="100">
                  {% endif %}
                </div>
                <div class="cart-item-name">
                  {{ item.product.name }} {# (Vinely product ID: {{ item.product.id }}) #}
                </div>
              </div>
            </td>
            <td>{{ item.quantity_str }}</td>
            <td>{{ item.get_frequency_display }}</td>
            <td>{{ item.subtotal|currency }}</td>
            <td><a href="{% url cart_remove_item cart.id item.id %}?next={% url cart %}"><i class="icon-trash"></i></a></td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if cart %}
  <hr>
  <div class="row">
    <div class="span9">
      &nbsp;
    </div>
    <div class="span3">
      <div class="cart-sub-total">
      <p>Subtotal: {{ cart.subtotal|currency }}</p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <div class="pull-right">
	  {% if allow_customize %}
            <a class="btn btn-primary" href="{% url start_order %}">
              <i class="icon-plus-sign icon-white"></i> Continue Shopping</a>
	  {% endif %}
          <a class="btn btn-success" href="{% if allow_customize %}{% url customize_checkout %} {% else %} {% url edit_shipping_address %} {% endif %}">
            <i class="icon-shopping-cart icon-white"></i> Checkout</a>
        </div>
      </div>
    </div>
  </div>
  </section>

</div>

{% endblock %}

