{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}

{% block header %}
  <h1>Your Cart</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      {% if cart %}
        Review and place your order
      {% else %}
        Your cart is empty
      {% endif %}
    </div>
  </div>

  <section id="cart-items">
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Subscription</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>
              <div class="cart-item">
                <div class="cart-item-image">
                {% thumbnail item.product.image "100x100" format="PNG" as im %}
                  <img src="{{ im.url }}"/>
                {% endthumbnail %}
                </div>
                <div class="cart-item-name">
                  {{ item.product.name }} (Vinely product ID: {{ item.product.id }})
                </div>
              </div>
            </td>
            <td>{{ item.get_frequency_display }}</td>
            <td>{{ item.quantity_str }}</td>
            <td>{{ item.subtotal|currency }}</td>
            <td><a href="{% url cart_remove_item cart.id item.id %}?next={% url cart %}"><i class="icon-trash"></i></a></td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if cart %}
  <hr>
  <div class="row">
    <div class="span9">
      &nbsp;
    </div>
    <div class="span3">
      <div class="cart-sub-total">
      <p>Subtotal: {{ cart.subtotal|currency }}</p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <div class="pull-right">
          <a class="btn btn-primary" href="{% url start_order %}">
            <i class="icon-plus-sign icon-white"></i> Continue Shopping</a>
          <a class="btn btn-success" href="{% url customize_checkout %}">
            <i class="icon-shopping-cart icon-white"></i> Checkout</a>
        </div>
      </div>
    </div>
  </div>
  </section>

</div>

{% endblock %}

