{% extends "winedora/base_html5.html" %}
 
{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}
  <h1 class="headline">Order Your First Taste Kit</h1>
{% endblock header %}

{% block content %}

<div class="container">

  <section id="product-item-info">
    {% if product %}
    <div class="row">

      <div class="span6">
        <img src="{% static "img/firsthostkit_prodimg.png" %}" height="400">
        <!--
        {% thumbnail product.image "400" as im %}
          <img height="400" src="{{ im.url }}" /> 
        {% endthumbnail %}
        -->
      </div>

      <div class="span6">
        <form class="form-horizontal" action="{% url cart_add_tasting_kit %}" method="POST">
          {% csrf_token %}
          {{ form.errors }}
          <p><h3 id="product-name">{{ product.name }}</h3></p>
          <p id="product-description"> {{ product.description|safe }}
          </p>
          <div class="control-group {% if form.quantity.errors %}error{% endif %}">
            <div class="control-label" for="id_quantity">{{ form.product.label }}</div>
            <div class="controls">
              {{ form.product}} 
              {% if form.product.errors %}
                <span class="help-inline">
                  {{ form.product.errors }}
                </span>
              {% endif %}
            </div>
          </div>
          <p></p>
          <p>
          {{ form.quantity }}
          {{ form.frequency }}
          {{ form.price_category }}
          </p>
          <p>&nbsp;</p>
          <div class="download">
          </div>
          <p class="price-label"><b>From:</b> <span id="unit-price">{{ product.unit_price|currency }}</span></p>
          {{ form.total_price }}
          <div class="form-actions">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </form>
      </div>

    </div>
    {% else %}
      No tasting kit product exists yet.
    {% endif %}
  </section>    

  <div class="span12">
    <div class="vertical-space">
    </div>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_product').change(function(e) {
      var val = $('#id_product option:selected').val();
      var url = "{% url cart_kit_detail 1 %}".replace(1, parseInt(val));
      $.ajax({
  	    url: url,
  	    cache: true,
  	    dataType: "json",
  	    success: function(json, textStatus) {
      		$('#product-name').text(json.product);
      		$('#unit-price').text(json.price);
  	    },
  	    error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("error: " + errorThrown);
  	    }
      });
      return false;
    });
  });
</script>
{% endblock additional_scripts %}
