{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Order Wine: Checkout</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Fill in billing/shipping and credit card information 
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Display Good, Better and Best 
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Select frequency of subscription 
      - Monthly
      - Bi-monthly
      - Quarterly
      - One-Time
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Complete Order - After completing order show confirmation page
    </div>
  </div>
</div>

{% endblock %}

