{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Where do you want it?</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="shipping-information">
  <div class="page-header">
    <h4>Enter Shipping Address</h4>
    <p>You have to be 21 to drink it, so you have to be 21 to receive it. Make sure wherever you ship will have someone 21 or older available to sign.</a>
  </div>
  <div class="row">
    <div class="span12">
      <form class="form-horizontal" method="POST" action="{% url edit_shipping_address %}">
        {% csrf_token %}

        <!-- {{ form.errors }}-->
        <fieldset>
        <div class="control-group{% if form.first_name.errors %} error{% endif %}">
          <div class="control-label" for="id_first_name">{{ form.first_name.label }}</div>
          <div class="controls">
            {{ form.first_name}} 
            {% if form.first_name.errors %}
              <span class="help-inline">
                {{ form.first_name.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.last_name.errors %} error{% endif %}">
          <div class="control-label" for="id_last_name">{{ form.last_name.label }}</div>
          <div class="controls">
            {{ form.last_name}} 
            {% if form.last_name.errors %}
              <span class="help-inline">
                {{ form.last_name.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.address1.errors %} error{% endif %}">
          <div class="control-label" for="id_address1">{{ form.address1.label }}</div>
          <div class="controls">
            {{ form.address1}} 
            {% if form.address1.errors %}
              <span class="help-inline">
                {{ form.address1.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.address2.errors %} error{% endif %}">
          <div class="control-label" for="id_address2">{{ form.address2.label }}</div>
          <div class="controls">
            {{ form.address2}} 
            {% if form.address2.errors %}
              <span class="help-inline">
                {{ form.address2.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.company_co.errors %} error{% endif %}">
          <div class="control-label" for="id_company_co">{{ form.company_co.label }}</div>
          <div class="controls">
            {{ form.company_co}} 
            {% if form.company_co.errors %}
              <span class="help-inline">
                {{ form.company_co.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.city.errors %} error{% endif %}">
          <div class="control-label" for="id_city">{{ form.city.label }}</div>
          <div class="controls">
            {{ form.city}} 
            {% if form.city.errors %}
              <span class="help-inline">
                {{ form.city.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.state.errors %} error{% endif %}">
          <div class="control-label" for="id_state">{{ form.state.label }}</div>
          <div class="controls">
            {{ form.state}} 
            {% if form.state.errors %}
              <span class="help-inline">
                {{ form.state.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.zipcode.errors %} error{% endif %}">
          <div class="control-label" for="id_zipcode">{{ form.zipcode.label }}</div>
          <div class="controls">
            {{ form.zipcode}} 
            {% if form.zipcode.errors %}
              <span class="help-inline">
                {{ form.zipcode.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.phone.errors %} error{% endif %}">
          <div class="control-label"for="id_phone">{{ form.phone.label }}</div>
          <div class="controls">
            {{ form.phone}} 
            {% if form.phone.errors %}
              <span class="help-inline">
                {{ form.phone.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.email.errors %} error{% endif %}">
          <div class="control-label" for="id_email">{{ form.email.label }}</div>
          <div class="controls">
            {{ form.email}} 
            {% if form.email.errors %}
              <span class="help-inline">
                {{ form.email.errors }}
              </span>
            {% else %}
              <span class="help-inline">
                {{ form.email.help_text }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group{% if form.news_optin.errors %} error{% endif %}">
          <div class="controls">
            <label class="checkbox">
            {{ form.news_optin}} 
            {{ form.news_optin.label }}
            {% if form.news_optin.errors %}
              <span class="help-inline">
                {{ form.news_optin.errors }}
              </span>
            {% endif %}
            </label>
          </div>
        </div>

        {% if update %}
        <div class="form-actions">
          <a href="{% url place_order %}" class="btn">Cancel</a>  
          <input class="btn btn-primary" type="submit" value="Update">
        </div>
        {% else %}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Next">
        </div>
        {% endif %}

        </fieldset>

      </form>
    </div>
  </div>
  </section>

</div>

{% endblock %}

