{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Where’s the party? Your place!</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="get-started">
  <div class="row">
    <div class="span12">
      <p>A Vinely Taste Party is a fun, engaging and unique way for you and your friends to learn about the tastes you love. As a Vinely Socializer, we’ll pair you with a Vinely Pro. Or you can choose your own. They’ll help you set up the event, moderate the sampling, and provide each Taster attending with an official Vinely Personality. Oh, and did we mention? In addition to a great time, we’ll provide you with Vinely Credits you can use toward Vinely merchandise!</p>

      <section id="get-started-socializer">
      <h2>Be the host with the most. Follow these simple steps to host your own Vinely Taste Party.</h2>

      <p>Find a space: A living room, loft, porch, or kitchen make great party spots. Truthfully, anywhere wine, food, and 8 - 12 people can fit (without throwing a fit) will work perfectly.</p>

      <p><b>Find some time:</b> You and your Vinely Pro will schedule a party date. Then, with a little planning, inviting, prepping, and a Vinely Taste Kit, you’ll be well on your way to a truly tasteful experience.</p>

      <p><b>Find some friends:</b> You’ve got 'em. So get 'em to your place! For your friends who are wine-tasting veterans, it’s sure to be an experience unlike any other they’ve had. For beginners, it’s an exciting, no-pressure way to try new tastes and learn what they love. Point being, at a Vinely Taste Party, everyone’s welcome and everyone wins!</p>

      {% if already_socializer %}
      <p>
        <br>
        <blockquote>You are already a Vinely Socializer<blockquote>
      </p>
      {% else %}
        <div class="form-actions">
          <div class="controls">
            <a class="btn btn-primary" href="{% url sign_up 2 %}">Socialize Me</a>
          </div>
        </div>
      {% endif %}
      </section>

      <section id="get-started-pro">
      <h2>Want more? Vinely Pro is the way to go!</h2>
      <p>Would you like to conduct Taste Parties and help people find their inner Wine Personality? Do you want to earn by helping others learn? By becoming a Vinely Pro, you'll be able to do all that, and more. You'll work directly with Vinely Socializers, initiating, scheduling, and conducting Taste Parties. You'll be able to start multiple Taste Parties and track each one's progress. Become a Pro and there's no telling where the party scene will take you.</p>

      <p>
        Think you have what it takes to get the Taste Party started?
      </p>

      {% if already_pro %}
      <p>
        <br>
        <blockquote>You are already a Vinely Pro<blockquote>
      </p>
      {% else %}
        <div class="form-actions">
          <div class="controls">
            <a class="btn btn-primary" href="{% url sign_up 1 %}">Make Me a Pro</a>
          </div>
        </div>
      {% endif %}
      </section>

    </div>
  </div>
  </section>

</div>

{% endblock content %}

