{% extends "main/menu_base_flip.html" %}

{% block header %}
  <h1>Welcome Back to Vinely</h1>
{% endblock header %}

{% block side_navigation %}
  {% if specialist %}
  <li><a href="{% url party_list %}">Your Parties</a></li>
  <li><a href="{% url party_add %}">Create Party</a></li>
  <li><a href="{% url party_attendee_invite %}">Invite Attendee</a></li>
  <li><a href="{% url record_all_wine_ratings %}">Record Wine Ratings</a></li>
  <li><a href="{% url start_order %}">Order Wine</a></li>
  {% elif host %}
  <li><a href="{% url party_list %}">Your Parties</a></li>
  <li><a href="{% url party_add %}">Create Party</a></li>
  <li><a href="{% url party_attendee_invite %}">Invite Attendee</a></li>
  <li><a href="{% url cart_add_tasting_kit %}">Order Tasting Kit</a></li>
  <li><a href="{% url start_order %}">Order Wine</a></li>
  {% elif supplier %}
  <li><a href="{% url supplier_party_list %}">All Parties</a></li>
  {% elif attendee %}
  <li><a href="{% url my_wine_personality %}">My Wine Personality</a></li>
  <li><a href="{% url cart_add_tasting_kit %}">Order Tasting Kit</a></li>
  <li><a href="{% url start_order %}">Order Wine</a></li>
  {% endif %}
{% endblock side_navigation %}

{% block main_content %}

  {% if messages %}
  <div class="row">
    <div class="messages span9">
        {% for message in messages %}
          {% if "info" in message.tags %}
            <div class="alert alert-info">{{ message }}</div>
          {% elif "success" in message.tags %}
            <div class="alert alert-success">{{ message }}</div>
          {% elif "error" in message.tags or "warning" in message.tags %}
            <div class="alert alert-error">{{ message }}</div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if specialist %}
    You are a party specialist
  {% endif %}
  {% if host %}
    You are a party host 
  {% endif %}
  {% if attendee %}
    You are a party attendee 
  {% endif %}
  {% if supplier %}
    You are a supplier 
  {% endif %}
{% endblock main_content %}


