{% extends "winedora/base_html5.html" %}

{% load static %}

{% block header %}
  <h1 class="headline">{{ heading|safe }}</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      <h2 class="center">{{ sub_heading|safe }}</h2>

      <section id="how-it-works">
        {{ how_it_works|safe }}
      </section>

      <div class="vertical-space">
        &nbsp;
      </div>
<!-- 
      <div class="control-group">
        <div class="controls center">
          <a href=""><img src="{% static "img/btn_pie_getstarted.png" %}"></a>
        </div>
      </div>
 -->      
    </div>
    <div class="vertical-space">
      &nbsp;
    </div>
  </div>

</div>

{% endblock content %}

