{% extends "winedora/base_html5.html" %}

{% block content %}
<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">

    <div class="span9">
      {% block main_content %}
      {% endblock main_content %}
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Menu</li>
          {% block side_navigation %}
          {% endblock side_navigation %}
        </ul>
      </div>
    </div>

  </div>
{% endblock content %}

