{% extends "winedora/base_html5.html" %}

{% block content %}
<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">

    <div class="span8">
      {% block main_content %}
      {% endblock main_content %}
    </div>

    <div class="span4">
      <div class="sidebar-nav-container">
        <div class="box well">
          <div class="sidebar-nav">
            <ul class="side_nav">
              {% block side_navigation %}
              {% endblock side_navigation %}
            </ul>
          </div>
        </div>  
      </div>
    </div>

  </div>
{% endblock content %}

