{% extends "winedora/base_html5.html" %}

{% load currency %}

{% block header %}
  <h1 class="headline">Your Order History</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="order-history">
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            {% if pro %}
            <th>Ordered For</th>
            {% endif %}
            <th>Order Total</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="{% url order_complete order.order_id %}">{{ order.vinely_order_id }}</a></td>
            <td>{{ order.order_date }}</td>
            {% if pro %}
            <td>{% if user == order.receiver %}Myself{% else %}Someone Else{% endif %}
            {% endif %}
            <td>{{ order.cart.total|currency }}</td>
            <td>{{ order.get_fulfill_status_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
    </div>
  </div>
  </section>

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <div class="pull-right">
          <a class="btn btn-primary" href="{% url home_page %}">Return Home</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
