{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}
  <h1 class="headline">Your order was placed successfully!</h1>
{% endblock header %}

{% block additional_styles %}
  <style type="text/css">
    .table td { 
      vertical-align: middle;
    }
  </style>
{% endblock additional_styles %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12 center">
      <p>Success! Your delicious surprise will soon be on its way.</p>
      <p>A copy of your order will be sent to your email and can be referenced any time in <a href="{% url order_history %}">My Account</a></p>
    </div>
  </div>

  <section id="order-summary">
  <div class="row">
    <div class="span3 well">
      <p><h3>Order Information</h3></p>
      <p>Order #: {{ order.vinely_order_id}}</p>
      <p>Order Date: {{ order.order_date|date}}</p>
      <p>&nbsp;</p>
      <p><h3>Shipping Information</h3></p>
      <address>
        <p>{{ order.receiver.first_name }} {{ order.receiver.last_name }}</p>
        <p>{{ order.shipping_address.street1 }}</p>
        {% if order.shipping_address.street2 %}
        <p>{{ order.shipping_address.street2 }}</p>
        {% endif %}
        <p>{{ order.shipping_address.city }}, {{ order.shipping_address.state }} {{ order.shipping_address.zipcode }}</p>
        <br />
        <p>Phone: {{ order.receiver.get_profile.phone }}</p>
      </address>
      <p></p>
      {% if user == order.receiver %}
      <p><h3>Billing Information</h3></p>
      <p></p>
      <p>Credit card ending in {{ credit_card.last_four }}</p>
      <p>Exp Date: {{ credit_card.exp_date }}</p>
      {% endif %}
    </div>
    <div class="span8">
      <div class="row">
        <div class="span8">
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Frequency</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
              <td>
                <div class="cart-item">
                  <div class="cart-item-image">
                  {% if item.img_file_name %}
                    <img src="{{ STATIC_URL }}img/{{ item.img_file_name }}" height="100">
                  {% else %}
                      <img src="{% static "img/firsthostkit_prodimg.png" %}" height="100">
                  {% endif %}
                  </div>
                  <div class="cart-item-name">
                    {% if item.product.category == 0 %} {# only show this for taste-kits #}
                      {{ item.product.name }}
                    {% endif %}
                  </div>
                </div>
              </td>
              <td>{{ item.quantity_str }}</td>
              <td>{{ item.get_frequency_display }}</td>
              <td>{{ item.subtotal|currency }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span6">
          &nbsp;
        </div>
        <div class="span2 pull-right">
          <p>Subtotal: {{ cart.subtotal|currency }}</p>
          <p>Shipping: {{ cart.shipping|currency }}</p>
          <p>Tax: {{ cart.tax|currency }}</p>
          <p><b>Total: {{ cart.total|currency }}</b></p>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <div class="pull-right">
          <a class="btn btn-primary" href="{% url home_page %}">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

