{% extends "winedora/base_html5.html" %}

{% load static %}

{% block header %}
  <h1 class="headline">{{ heading|safe }}</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      <section id="great-tastes">
        {{ our_story|safe}}
<!-- 
      <h2>Great tastes are hard to come by</h2>

      <p>Our question was simple: Why? Why can’t finding tastes you love be easy, social, and fun? Now they are, with Vinely.</p>

      <p>It may look like we have a great time (which we do), but when it comes to taste, we mean business. Serious business. The proof? Our patented Vinely Methodology - a proven system, thoughtfully engineered to define your true Vinely Personality. (It's not rocket science, but it's not far off.)</p>

      <p>At each and every Vinely Taste Party, this methodology is hard at work, separating the Moxies from the Sensational. The Exuberant from the Easygoing. And the Whimsical from the Serendipitous. In turn, you’ll be introduced to tastes that fit your Vinely Personality - tastes you won’t be able to get enough of.</p>

      <p>We're not out to change the things you enjoy. Fact is, we’re here to help you embrace them even more! And with a Vinely Personality, there's nothing stopping you from finding wines that entice, excite, and encourage you to taste Your Personality every chance you get.</p>

      <p>What are you waiting for?</p>
       -->
      </section>

      <div class="control-group">
        <div class="controls center">
          <a href="{% url sign_up 2 %}"><img src="{% static "img/btn_pie_getstarted.png" %}"></a>
        </div>
      </div>
      
      <div class="vertical-spacing">
        &nbsp;
      </div>
    </div>
  </div>

  <!--
  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
        <a href="#team">Vinely Team</a>
      </li>
      <li>
        <a href="#personalities">Wine Personalities</a>
      </li>
      <li>
        <a href="#how-it-works">How It Works</a>
      </li>
      <li>
        <a href="#party-specialists">Vinely Pros</a>
      </li>
      <li>
        <a href="#party-hosts">Vinely Host</a>
      </li>
      <li>
        <a href="#attendees">Vinely Tasters</a>
      </li>
    </ul>
  </div>


  <section id="team">
    <div class="page-header">
      <h2>Management Team</h2>
    </div>
    Vinely is Redstar Ventures third operating company.  
    <h3>Bill Wittenberg</h3>
    <h3>Elizabeth Goede</h3>
    <h3>John Stecco</h3>
    <h3>Jayme Mendal</h3>
  </section>
  <section id="personalities">
    <div class="page-header">
      <h2>Wine Personalities</h2>
    </div>
  </section>
  <section id="how-it-works">
    <div class="page-header">
      <h2>How It Works</h2>
    </div>
  </section>
  <section id="party-specialists">
    <div class="page-header">
      <h2>Vinely Pros</h2>
    </div>
  </section>
  <section id="party-hosts">
    <div class="page-header">
      <h2>Vinely Hosts</h2>
    </div>
  </section>
  <section id="attendees">
    <div class="page-header">
      <h2>Vinely Tasters</h2>
    </div>
  </section>
  -->

</div>

{% endblock content %}

