{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Preview Invitation</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="invitation-content">
    <div class="row">
      <div class="span12">
        <h2>Please review your invitation</h2>
      </div>
    </div>
  <form method="POST" action="{% url party_send_invites %}">
    {% csrf_token %}
    {{ form.party }}

    {{ form.errors }}
    {% for g in guests %}
      <input type="hidden" value="{{ g }}" name="guests">
    {% endfor %}

    <div class="row">
      <div class="span12">
        <table>
          <tbody>
            <tr>
              <td>To:</td><td>{{ guest_count }} Guests (<a href="{% url party_details party.id %}#party-tasters">edit guests</a>)
            </tr>
            <tr>
              <td>From:</td><td>{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}Friendly Host{% endif %} ({{ party.host.email }})</td>
            </tr>
            <tr>
              <td>Subject:</td><td>{{ form.custom_subject.value }}</td>
            </tr>
          </tbody>
        </table>
        <input type="hidden" name="custom_subject" value="{{ form.custom_subject.value }}">
      </div>
    </div>

    <hr>

    <!--
    <div class="span12">
      <center>
        <img src="http://www.winepartiesbydesign.com/_images/banner_1.png">
      </center>
    </div>
    -->

    <div class="row">
        <div class="span12">
          <p>What’s a Vinely Taste Party? Think of it as learning through drinking. It’s part wine tasting. Part personality test. And part...well...party.</p>

          <p>The wines you’ll sample will give us an idea of your personal taste. The flavors you enjoy and the ones you could do without. After sipping, savoring, and rating each wine, we’ll assign you one of six Vinely Personalities. Then, we’ll be able to send wines perfectly paired to your taste - right to your doorstep.</p>

          <!-- <p>Will you attend? You know you want to! (You can always come back and change your response later.)</p> -->
          <p>Will you attend? You know you want to! RSVP by {{ rsvp_date|date:"F j, o" }}. Better yet, don't wait! </p>

          <h2>Personalized addendum</h2>
          <div class="alert control-group">
            <div class="controls">
              {{ form.custom_message.value }}
              <input type="hidden" name="custom_message" value="{{ form.custom_message.value }}">
            </div>
        </div>
        </div>
    </div>

    <section id="custom-message-body">
      <div class="row">
        <div class="span6">
          <p><h3>Party Details</h3></p>
          <table cellpadding="5">
            <tbody>
              <tr>
                <td>Date and Time:</td>
                <td>{{ party.event_date|date:"F j, o" }} at {{ party.event_date|date:"g:i A" }}</td>
              </tr>
              <tr>
                <td>Party Type:</td>
                <td>{{ party.title }}</td>
              </tr>
              <tr>
                <td>Location:</td>
                <td>
                  {{ party.address.street1 }}<br>
                  {% if party.address.street2 %}{{ party.address.street2 }}<br>{% endif %}
                  {{ party.address.city }}, {{ party.address.state }} {{ party.address.zipcode }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span6">
        </div>
      </div>
    </section>

    <div class="row">
      <div class="span12">
        <div class="form-actions">
          <a class="btn btn-warning" href="javascript:javascript:history.go(-1)">Edit Invitation</a>
          <input class="btn btn-primary" type="submit" name="send" value="Send Invitation">
        </div>
      </div>
    </div>
  </form>
  </section>

</div>

{% endblock content %}
