{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Preview Thank You Note</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="invitation-content">
    <div class="row">
      <div class="span12">
        <h2>Please review your message</h2>
      </div>
    </div>
  <form method="POST" action="{% url party_send_invites %}">
    {% csrf_token %}
    {{ form.party }}
    {{ form.errors }}
    {% for g in guests %}
      <input type="hidden" value="{{ g }}" name="guests">
    {% endfor %}

    <div class="row">
      <div class="span12">
        <table>
          <tbody>
            <tr>
              <td>To:</td><td>{{ guest_count }} Guests (<a href="{% url party_details party.id %}#party-tasters">edit guests</a>)
            </tr>
            <tr>
              <td>From:</td><td>{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}Friendly Host{% endif %} ({{ party.host.email }})</td>
            </tr>
            <tr>
              <td>Subject:</td><td>{{ form.custom_subject.value }}</td>
            </tr>
          </tbody>
        </table>
        <input type="hidden" name="custom_subject" value="{{ form.custom_subject.value }}">
      </div>
    </div>

    <hr>

    <div class="row">
        <div class="span12">
          <p>Thank you for attending "{{ party.title }}" on {{ party.event_date|date:"F j, o" }} and for ordering wine.</p>

          <p>You can always visit our site and <a href="{% url start_order party.id %}">order more wine</a> later or become a VIP by 
            <a href="{% url start_order party.id %}">subscribing</a> for amazing wine selections.</p>

          {% if form.custom_message.value %}
            <h2>Personalized Message</h2>
            <div class="alert control-group">
              <div class="controls">
                {{ form.custom_message.value }}
                <input type="hidden" name="custom_message" value="{{ form.custom_message.value }}">
              </div>
            </div>
          {% endif %}
        </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="form-actions">
          <a class="btn btn-warning" href="javascript:javascript:history.go(-1)">Edit Note</a>
          <input class="btn btn-primary" type="submit" name="send" value="Send Note">
        </div>
      </div>
    </div>
  </form>
  </section>

</div>

{% endblock content %}
