{% extends "main/menu_base_flip.html" %}

{% block header %}
  <h1>{{ party.title }}: Attendees</h1>
  Here are your honored guests.  Feel free to invite new attendees.
{% endblock header %}


{% block side_navigation %}
  {% if specialist %}
    <li><a href="{% url party_add %}">Create Party</a></li>
  {% endif %}
  <li><a href="{% url party_attendee_invite party.id %}">Invite Attendee</a></li>
{% endblock side_navigation %}

{% block main_content %}
  {% if messages %}
  <section id="alert-messages">
    <div class="messages">
        {% for message in messages %}
          {% if "info" in message.tags %}
            <div class="alert alert-info">{{ message }}</div>
          {% elif "success" in message.tags %}
            <div class="alert alert-success">{{ message }}</div>
          {% elif "error" in message.tags or "warning" in message.tags %}
            <div class="alert alert-error">{{ message }}</div>
          {% endif %}
        {% endfor %}
    </div>
  </section>
  {% endif %}

  <section id="party-attendees">
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Coming</th>
        <th>Wine Personality</th>
      </thead>
      <tbody>
      {% for inv in invitees %}
        {# create a table of invitees #}
        <tr>
          {% if inv.invitee.first_name or inv.invitee.last_name %}
          <td>{{ inv.invitee.first_name }} {{ inv.invitee.last_name }}</td>
          {% else %}
          <td>Anonymous</td>
          {% endif %}
          <td><a href="mailto:{{ inv.invitee.email }}">{{ inv.invitee.email }}</a></td>
          {% if inv.invitee.get_profile.phone %}
          <td>{{ inv.invitee.get_profile.phone }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>{{ inv.get_response_display }}</td>
          {% if inv.invitee.get_profile.wine_personality %}
          <td>{{ inv.invitee.get_profile.wine_personality }}</td>
          {% else %}
          <td><a href="{% url record_all_wine_ratings inv.invitee.email %}">Enter ratings</a></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock main_content %}

