{% extends "winedora/base_html5.html" %}

{% block additional_styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css"> 
  <link rel="stylesheet" href="{{ STATIC_URL }}timepicker/css/timepicker.css"> 
{% endblock %}

{% block header %}
  <h1 class="headline">Create a New Party</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  {% if no_perms %}
  <section id="reach-pro">
  <div class="row">
    <div class="span12">
      <h2>Please contact your Vinely Pro in order to schedule a party.</h2> 
      <p></p>
      <p>&laquo; Go back to your <a href="{% url party_list %}">Party List</a>.</p>
      
      <div class="vertical-space">
      </div>
    </div>
  </div>
  </section>
  {% else %}

  <div class="row">
    <div class="span12">
      It's time to start a new party!         
    </div>
  </div>

  <section id="add-party">
    {# add new parties form #}
  
    <form class="form-horizontal" method="POST" action="{% url party_add %}">
      {% csrf_token %}

      {{ form.errors }}

      <div class="row">
        <div class="span12">
          <fieldset>
            <legend>Party Information</legend>
            <div class="control-group {% if form.title.errors %}error{% endif %}">
              <div class="control-label" for="id_title">{{ form.title.label }}</div>
              <div class="controls">
                {{ form.title }} 
                {% if form.title.errors %}
                  <span class="help-inline">
                    {{ form.title.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.description.errors %}error{% endif %}">
              <div class="control-label" for="id_description">{{ form.description.label }}</div>
              <div class="controls">
                {{ form.description }} 
                {% if form.description.errors %}
                  <span class="help-inline">
                    {{ form.description.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.phone.errors %}error{% endif %}">
              <div class="control-label" for="id_phone">{{ form.phone.label }}</div>
              <div class="controls">
                {{ form.phone }} 
                {% if form.phone.errors %}
                  <span class="help-inline">
                    {{ form.phone.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.event_day.errors %}error{% endif %}">
              <div class="control-label" for="id_event_day">{{ form.event_day.label }}</div>
              <div class="controls">
                {{ form.event_day }} 
                {% if form.event_day.errors %}
                  <span class="help-inline">
                    {{ form.event_day.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.event_time.errors %}error{% endif %}">
              <div class="control-label" for="id_event_time">{{ form.event_time.label }}</div>
              <div class="controls">
                {{ form.event_time }} 
                {% if form.event_time.errors %}
                  <span class="help-inline">
                    {{ form.event_time.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Socializer Information</legend>
            <div class="control-group {% if form.socializer.errors %}error{% endif %}">
              <div class="control-label" for="id_socializer">{{ form.socializer.label }}</div>
              <div class="controls">
                <select name="socializer" id="id_socializer">
                  <option value selected="selected">----------</option>
                  {% for value, text in form.socializer.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
                  {% endfor %}
                </select>
                {% if form.socializer.errors %}
                  <span class="help-inline">
                    {{ form.socializer.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.first_name.errors %}error{% endif %}">
              <div class="control-label" for="id_first_name">{{ form.first_name.label }}</div>
              <div class="controls">
                {{ form.first_name }} 
                {% if form.first_name.errors %}
                  <span class="help-inline">
                    {{ form.first_name.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.last_name.errors %}error{% endif %}">
              <div class="control-label" for="id_last_name">{{ form.last_name.label }}</div>
              <div class="controls">
                {{ form.last_name }} 
                {% if form.last_name.errors %}
                  <span class="help-inline">
                    {{ form.last_name.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.email.errors %}error{% endif %}">
              <div class="control-label" for="id_email">{{ form.email.label }}</div>
              <div class="controls">
                {{ form.email }} 
                {% if form.email.errors %}
                  <span class="help-inline">
                    {{ form.email.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Party Address</legend>
            <div class="control-group {% if form.address.errors %}error{% endif %}">
              <div class="control-label" for="id_address">{{ form.address.label }}</div>
              <div class="controls">
                {{ form.address }} 
                {% if form.address.errors %}
                  <span class="help-inline">
                    {{ form.address.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.street1.errors %}error{% endif %}">
              <div class="control-label" for="id_street1">{{ form.street1.label }}</div>
              <div class="controls">
                {{ form.street1 }} 
                {% if form.street1.errors %}
                  <span class="help-inline">
                    {{ form.street1.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.street2.errors %}error{% endif %}">
              <div class="control-label" for="id_street2">{{ form.street2.label }}</div>
              <div class="controls">
                {{ form.street2 }} 
                {% if form.street2.errors %}
                  <span class="help-inline">
                    {{ form.street2.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.city.errors %}error{% endif %}">
              <div class="control-label" for="id_city">{{ form.city.label }}</div>
              <div class="controls">
                {{ form.city }} 
                {% if form.city.errors %}
                  <span class="help-inline">
                    {{ form.city.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.state.errors %}error{% endif %}">
              <div class="control-label" for="id_state">{{ form.state.label }}</div>
              <div class="controls">
                {{ form.state }} 
                {% if form.state.errors %}
                  <span class="help-inline">
                    {{ form.state.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="control-group {% if form.zipcode.errors %}error{% endif %}">
              <div class="control-label" for="id_zipcode">{{ form.zipcode.label }}</div>
              <div class="controls">
                {{ form.zipcode }} 
                {% if form.zipcode.errors %}
                  <span class="help-inline">
                    {{ form.zipcode.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Create Party</button>
              </div>
            </div>
          </fieldset>

        </div>
      </div>

    </form>
  </section>

  {% endif %} <!-- if user has permissions to create party -->

</div>

{% endblock content %}

{% block additional_scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').datepicker();
      $('.timepicker').timepicker();
    });
  </script>
{% endblock additional_scripts %}

