{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1 class="headline">Your Vinely Taste Parties</h1>
    </div>
  </div>
  <div class="row">
    <div id="sub-heading" class="span12 center">
      {% if host %}
        <a href="{% url edit_subscription %}">Contact your Vinely Pro</a> to host a new party.  Once your party has been scheduled, it will appear below.
      {% elif pro %}
        Parties you are managing
      {% elif taster %}
        Parties you are attending
      {% endif %}
    </div>
  </div>

  <section id="host-info">

    <div class="user-info">
      <div class="user-pic">
        {% if user.get_profile.image %}
          {% thumbnail user.get_profile.image "120x120" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        {% else %}
          <img src="{% static "img/noprofilephoto_img.png" %}" width="120">
        {% endif %}
      </div>
      <div class="user-contact">
        <div class="user-name">
          {% if user.first_name %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {% if pro %}
              Vinely Pro 
            {% elif host %}
              Vinely Host
            {% endif %}
          {% endif %}
        </div>
        <div class="user-phone">
          <i class="icon-user"></i> {% if user.get_profile.phone %}{{ user.get_profile.phone }}{% else %}No Phone Number Yet{% endif %}
        </div>
        <div class="user-email">
          <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </div>
        {% if host %}
          <div class="user-credits">
            <p></p>
            My Vinely Credits: {{ host_credits|currency }}
          </div>
        {% endif %}
        {% if pro %}
          <div class="pro-commission">
            <br />
            <h3>Commission Earned:</h3>
            <p>My Parties: {{ pro_commission|currency }}</p>
            <p>Mentee Parties: {{ mentee_commission|currency }}</p>
            <p>Total: <strong>{{ total_commission|currency }}</strong></p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="party-actions">
    <div class="vertical-space">
      &nbsp;
    </div>
    <div class="row">
      <div class="span12">
        {% if pro %}
          <a class="btn btn-primary" href="{% url party_add %}">Create Party</a>
        {% endif %}
          <!-- <a class="btn btn-inverse" href="{% url party_taster_invite %}">Invite Attendee</a> -->
        {% if taster %}
          <a class="btn btn-primary" href="{% url host_vinely_party %}">Host a Vinely Taste Party</a>
        {% endif %}
      </div>
  </section>

  <section id="upcoming-parties">
  <div class="page-header">
    Upcoming Parties
  </div>
  <table class="table table-striped">
    <thead>
      <th>Date/Time</th>
      <th>Host</th>
      <th>Title</th>
      <th>Contact Phone</th>
      <th>Location</th>
      <th>Tasters</th>
    </thead>
    <tbody>
    {% for party in parties %}
      {# create a table of party and party information #}
      <tr>
        <td>{{ party.event_date|date:"M d, Y" }}</td>
        <td><a href="mailto:{{ party.host.email }}">{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}{{ party.host.email }}{% endif %}</a></td>
        <td><a href="{% url party_details party.id %}">{{ party.title }}</a></td>
        <td>{{ party.phone }}</td>
        <td>{{ party.address }}</td>
        <td>
          {% if party.invitees %}
            {{ party.invitees }} 
            {% if party.high_low %}<span class="badge badge-important">{{ party.high_low }}</span> {% endif %}
          {% else %}
            <a href="{% url party_taster_invite party.id %}">Invite Guests</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </section>

  <section id="past-parties">
  <div class="page-header">
    Past Parties
  </div>
  <table class="table table-striped">
    <thead>
      <th>Date/Time</th>
      <th>Host</th>
      <th>Title</th>
      <th>Contact Phone</th>
      <th>Location</th>
      <th>Tasters</th>
      {% if host %}
        <th>My Credit</th>
      {% endif %}
      {% if pro %}
        <th>Commission</th>
      {% endif %}      
    </thead>
    <tbody>
    {% for party in past_parties %}
      {# create a table of party and party information #}
      <tr>
        <td>{{ party.event_date|date:"M d, Y" }}</td>
        <td><a href="mailto:{{ party.host.email }}">{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}{{ party.host.email }}{% endif %}</a></td>
        <td><a href="{% url party_details party.id %}">{{ party.title }}</a></td>
        <td>{{ party.phone }}</td>
        <td>{{ party.address }}</td>
        <td>{{ party.invitees }}</td>
        {% if host %}
          <td>{{ party.credit|currency }}</td>
        {% endif %}
        {% if pro %}
          <td>{{ party.pro_commission|currency }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </section>

  <div class="vertical-space-bottom span12">
    &nbsp;
  </div>
</div>
{% endblock content %}

{% block additional_scripts %}
  <script type="text/javascript">
    $(".side-nav li").hover(
      function () {
        $(this).children(".chev").addClass("active");
        $(this).find("a").addClass("hovered");
      },
      function () {
        $(this).children(".chev").removeClass("active");
        $(this).find("a").removeClass("hovered");
      }
    );
  </script>
{% endblock additional_scripts %}
