{% extends "winedora/base_html5.html" %}

{% block additional_styles %}
  <style type="text/css">
    .control-group .text-label, h2 {
      margin-top: -4px;
    }
    .text-label {
      text-align: right;
      font-weight: 900;
      text-transform: capitalize;
    }
    .text-content {
      display:table-cell; 
      vertical-align:middle;
    }
    .form-row {
      margin-bottom: 12px;
    }
    .summary-table tr td:first-child {
      padding-right: 15px;
      text-align: right;
      font-weight: bold;
    }
  </style>

{% endblock additional_styles %}

{% block header %}
  <h1 class="headline">Get The Party Started</h1>
  <h2 class="center">You're a {{ user.get_profile.role }}</h2>
{% endblock header %}

{% block content %}
  {% if not party.requested %}
  <div class="menu_wrap main partycrumb">
    <ul class="nav">
      <li class="party-add">&nbsp;</li>
      <li class="party-write-invitation active">&nbsp;</li>
      <li class="party-invite-friends">&nbsp;</li>
      <li class="party-review-request">&nbsp;</li>
    </ul>
  </div>
  {% endif %}

  {{ form.errors }}
  <div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
    <section id="customize-invitation">

      <form class="form-horizontal" method="POST" action="{{ app_path }}">
        {% csrf_token %}
        <!-- <hr /> -->          
        {{ form.party }}
         <div class="control-group">
          <div class="controls"><i>Email will be sent from info@vinely.com</i></div>
        </div>
        <div class="control-group">
          <div class="control-label text-label">Email subject</div>
          <div class="controls">
            {{ form.custom_subject }}
            {% if form.custom_subject.errors %}
              <span class="help-inline">
                {{ form.custom_subject.errors }}
              </span>
            {% endif %}
          </div>
        </div>

        <div class="control-group">
          <div class="control-label text-label">Message Body</div>
          <div class="controls">
            {{ form.custom_message }}
            <div class="vertical-space"></div>
            <table class="summary-table">
              <tbody>
                <tr>
                  <td>Party:</td>
                  <td><p>"{{ party.title }}"</p></td>
                </tr>
                <tr>
                  <td>Host:</td>
                  <td><p>{{ party.host.first_name }} {{ party.host.last_name }}</p></td>
                </tr>
                <tr>
                  <td>Date:</td>
                  <td><p>{{ party.event_date|date:"F j, o" }}</p></td>
                </tr>
                <tr>
                  <td>Time:</td>
                  <td><p>{{ party.event_date|date:"g:i A" }}</p></td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td>
                    <p>{{ party.address.street1 }}</p>
                    <p>{{ party.address.street2 }}</p>
                    <p>{{ party.address.city }}, {{ party.address.state }} {{ party.address.zipcode}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="control-group">
          <div class="control-label text-label">Signature</div>
          <div class="controls">
            {{ form.signature }}
            <div class="vertical-space"></div>
            {% if not party.requested %}
              <div class="row">
                <div class="span8">
                  <p><i>Note: We will notify your Pro of the party request once you complete the setup. 
                    The Pro will then need to confirm the date and time before your party invite is sent out.
                  </i>
                  </p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% if not party.requested %}
          <div class="row">
            <div class="span1">&nbsp;</div>
            <div class="span7">
              <a href="{% url party_add party.id %}" class="btn btn-primary">Back</a>
              <button class="btn btn-primary commit" name="save" value="save">Save</button>
            </div>
            <div class="span4">
              <!-- <a href="javascript:;" class="btn btn-primary">Preview Invite</a> -->
              <button class="btn btn-primary preview" name="preview" value="preview">Preview Invite</button>
              <button class="btn btn-primary commit" name="next" value="next">Next</button>
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <div class="control-label">&nbsp;</div>
            <div class="controls">
              <button class="btn btn-primary preview" name="preview" value="preview">Preview Invite</button>
              <button class="btn btn-primary commit" name="save" value="save">Save</button>
            </div>
          </div>
        {% endif %}
      </form>
    </section>
  </div>

{% endblock content %}

{% block additional_scripts %}
  <script type="text/javascript">
    var original_form;
    var saved = false;
    $(document).ready(function() {
      original_form = $('.form-horizontal').serialize();
      // $('#id_custom_message').autogrow();

      $('.commit').click(function() {
        saved = true;
        this.form.target = '_self';
      });
      var form = $('.form-horizontal');
      $('.preview').click(function(e) {
        this.form.target = '_blank';
      });
    });

    $(window).bind('beforeunload', function(e) {
      if ($('.form-horizontal').serialize() != original_form && saved == false) {
        return 'You are about to leave this page even though you have made changes to your invite.';
      }
    });
  </script>
{% endblock additional_scripts %}