{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Customize Thank You Note</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <section id="customize-invitation">
    <div class="row">
      <div class="span12">
        <p>Feel free to add your custom invite message.</p>
      </div>
    </div>

    <form method="POST" action="{% url party_send_thanks_note %}">
      {% csrf_token %}
      {{ form.party }}
      {% for g in guests %}
        <input type="hidden" value="{{ g }}" name="guests">
      {% endfor %}
      <div class="row">
        <div class="span12">
          <table>
            <tbody>
              <tr>
                <td>To:</td><td>{{ guest_count }} Guests (<a href="{% url party_details party.id %}#party-tasters">edit guests</a>)
              </tr>
              <tr>
                <td>From:</td><td>{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}Friendly Host{% endif %} ({{ party.host.email }})</td>
              </tr>
              <tr>
                <td>Subject:</td><td>{{ form.custom_subject }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <hr /> -->

      <div class="row">
        <div class="span12">
          <div class="page-header">
          Sent to those that placed orders
          </div>
          <p>Thank you so much for sipping, savoring, and rating the wines at my Vinely Taste Party! I hope you had a great time.</p>
          <p>Thank you for placing your Vinely Wine order at my party. You should have received a separate email confirming the order and another will be sent your way when it ships.</p>

          <div class="page-header">
          Sent to those that never placed orders
          </div>
          <p>Thank you so much for sipping, savoring, and rating the wines at my Vinely Taste Party! I hope you had a great time.</p>
          <p>It is not too late to place an order, you can do so at Vinely.com. Just sign in and use your Wine Personality to get wines selected just for you sent right to your door! It’s easy, convenient, and delicious.</p>

          <p>Again, thanks so much for coming!</p>
          <hr />
          <div class="control-group">
            <div class="controls">
              {{ form.custom_message }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span6">
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="form-actions">
            <div class="controls">
              <input class="btn btn-primary" type="submit" name="send" value="Send Message">
              <!-- <input class="btn btn-warning" type="submit" name="preview" value="Preview Note"> -->
            </div>
        </div>
        </div>
      </div>
    </form>
  </section>

</div>

{% endblock content %}
