{% extends "winedora/base_html5.html" %}

{% load thumbnail %}
{% load static %}

{% block header %}
  <h1>Taste Party: {{ party.title }}</h1>
  Here are your party details.  Invite more tasters to learn about their wine profiles.
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  
  <section id="party-information">
    <div class="row">
      <div class="span6">
        <table>
          <tbody>
            <tr>
              <td>Hosted by:</td>
              <td><a href="mailto:{{ party.host.email }}">{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}Friendly Host{% endif %}</a></td>
            </tr>
            <tr>
              <td>Party Type:</td>
              <td>{{ party.title }}</td>
            </tr>
            <tr>
              <td>Date and Time:</td>
              <td>{{ party.event_date|date:"F j, o" }} at {{ party.event_date|date:"g:i A" }}</td>
            </tr>
            <tr>
              <td>Location:</td>
              <td>{{ party.address.full_text }}</td>
            </tr>
            <tr>
              <td>Guests Attending:</td>
              <td>{% if party.invitees %}{{ party.invitees }} <span class="badge badge-important">{{ party.high_low }}</span> {{ high_low_status }}{% else %}<a href="{% url party_taster_invite party.id %}">Invite Guests</a>{% endif %}</td>
            </tr>
            <tr>
              <td>Special Instructions:</td>
              <td>{{ party.description }}</td>
            </tr>
            {% if host and can_order_kit %}
            <tr>
              <td>
                <a class="btn btn-primary" href="{% url cart_add_tasting_kit party.id %}">Order Tasting Kit</a>
              </td>
              <td>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <div class="span6">
        {% if not pro %}
          {# for hosts #}
          <p>
            <div class="user-info">
              <div class="user-pic">
                {% if pro_user.get_profile.image %}
                  {% thumbnail pro_user.get_profile.image "120x120" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                {% else %}
                  <img src="{% static "img/noprofilephoto_img.png" %}" width="120">
                {% endif %}
              </div>
              <div class="user-contact">
                <p><b>Vinely Pro:</b></p>
                <div class="user-name">
                  {% if pro_user.first_name %}
                    {{ pro_user.first_name }} {{ pro_user.last_name }}
                  {% else %}
                    Valued Customer Name
                  {% endif %}
                </div>
                <div class="user-phone">
                  <i class="icon-user"></i> {% if pro_user.get_profile.phone %}{{ pro_user.get_profile.phone }}{% else %}No Phone Number Yet{% endif %}
                </div>
                <div class="user-email">
                  <a href="mailto:{{ pro_user.email }}">{{ pro_user.email }}</a>
                </div>
              </div>
            </div>
          </p>
          <section id="party-tips">
          <p class="pull-right"><a href="{% static "doc/PDF_SocialPartyToDoList.pdf" %}">Download the Taste Party To-Do List</a></p>
          </section>
        {% else %}
          {# for pros #}
          <div class="pull-right">
            <a href="{% url print_rating_cards party.id %}" class="btn btn-primary btn-large">Print Experience Sheets</a>
            <p></p>
            <a href="{% static "doc/PDF_vinely_experience_card_Editable_a.pdf" %}" class="btn btn-primary btn-large">Print Generic Experience Cards</a>
          </div>
        {% endif %}
      </div>
    </div> <!-- .row -->
  </section>

  <section id="party-tasters">
    <div class="page-header">
      Tasters Attending - <a href="{% url party_taster_invite party.id %}">Invite Tasters <i class="icon-plus"></i></a>
    </div>
    <form method="POST" action="{% url party_customize_invite %}">
      {% csrf_token %}
      <input type="hidden" name="party" value="{{ party.id }}">
      <table class="table table-striped">
        <thead>
          <th>Select</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>RSVP</th>
          {% if pro %}
          <th>Wine Personality</th>
          {% endif %}
        </thead>
        <tbody>
        {% for inv in invitees %}
          {# create a table of invitees #}
          <tr>
            <td><input type="checkbox" value="{{ inv.invitee.id }}" name="guests"></td>
            {% if inv.invitee.first_name or inv.invitee.last_name %}
            <td>{{ inv.invitee.first_name }} {{ inv.invitee.last_name }}</td>
            {% else %}
            <td>Anonymous</td>
            {% endif %}
            <td><a href="mailto:{{ inv.invitee.email }}">{{ inv.invitee.email }}</a></td>
            {% if inv.invitee.get_profile.phone %}
            <td>{{ inv.invitee.get_profile.phone }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td>{{ inv.get_response_display }}</td>
            {% if pro %}
              {% if inv.invitee.get_profile.wine_personality.name == MYSTERY_PERSONALITY %}
                <td><a href="{% url record_all_wine_ratings inv.invitee.email party.id %}">Enter ratings</a></td>
              {% else %}
                <td>{{ inv.invitee.get_profile.wine_personality }}</td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="control-group">
        <button type="submit" class="btn btn-primary">Send Invite</button>
      </div>
    </form>
  </section>

</div>

{% endblock content %}

