
{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Add Party</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">


  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Add new party 
    </div>
  </div>

  <section id="parties">
  <div class="row">
    {% for party in parties %}
      {# create a table of party and party information #}
      {{ party }}
    {% endfor %}
  </div>

  </section>

  <section id="add_host">
    {# add new host #}
  </section>

  <section id="add_party">
    {# add new parties form #}
  
    <form method="POST" action="{% url contact_us %}">
      {% csrf_token %}

      <table>
      {{ form.as_table }}
      </table> 
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </section>

</div>

{% endblock content %}
