{% extends "winedora/base_html5.html" %}

{% load thumbnail %}
{% load render_table from django_tables2 %}
{% load static %}

{% block header %}
  {% if party.host.first_name %}
    <h1 class="headline">{% if party.host.first_name|last == 's' %} {{ party.host.first_name }}' {% else %} {{ party.host.first_name }}'s {% endif %} Party: {{ party.title }}</h1>
  {% else %}
    <h1 class="headline">Friendly Host's Party: {{ party.title }}</h1>
  {% endif %}
{% endblock header %}

{% block additional_styles %}
  <style type="text/css">
/*    select, option {
      width: 120px;
      margin: 5px;
    }*/
    .summary-table tr td:first-child{
      padding-right: 15px;
      text-align: right;
      font-weight: bold;
    }

    .pagination {
      display:none;
    }
  </style>
{% endblock additional_styles %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <section id="party-information">
    <div class="row">
      <div class="span6">
        <table class="summary-table">
          <tbody>
            <tr>
              <td><h2>Party Info</h2></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><p>{{ party.event_date|date:"F j, o" }} at {{ party.event_date|date:"g:i A" }}</p></td>
            </tr>
            <tr>
              <td>Location</td>
              <td>
                <p>{{ party.address.street1 }}</p>
                <p>{{ party.address.street2 }}</p>
                <p>{{ party.address.city }}, {{ party.address.state }} {{ party.address.zipcode}}</p>
              </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td>Host Name</td>
              <td>
                <p><a href="mailto:{{ party.host.email }}">{% if party.host.first_name %}{{ party.host.first_name }} {{ party.host.last_name }}{% else %}Friendly Host{% endif %}</a></p>
              </td>
            </tr>
            <tr>
              <td>Host Phone</td>
              <td><p>{% if party.host.get_profile.phone %}{{ party.host.get_profile.phone }} {% else %}-{% endif %}</p></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="span6">
        <div class="row">
          <div class="span2">
            <table class="summary-table">
              <tbody>
                <tr>
                  <td><h2>Pro Info</h2></td>
                </tr>
                <tr>
                  <td>
                    {% if pro_user.get_profile.image %}
                      {% thumbnail pro_user.get_profile.image "90x90" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                      {% endthumbnail %}
                    {% else %}
                      <img src="{% static "img/noprofilephoto_img.png" %}" width="90">
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="span4">
            <table class="summary-table">
              <tbody>
                <tr>
                  <td><h2>&nbsp;</h2></td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>
                    <p>{% if pro_user.first_name %}{{ pro_user.first_name }} {{ pro_user.last_name }}{% else %}Friendly Pro{% endif %}</p>
                  </td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>
                    <p>{% if pro_user.get_profile.phone %}{{ pro_user.get_profile.phone }}{% else %}-{% endif %}</p>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><p><a href="mailto:{{ pro_user.email }}">{{ pro_user.email }}</a></p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="vertical-space"></div>
        <table class="summary-table">
          <tbody>
            <tr>
              <td>Special Instructions</td>
              <td>{{ party.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- .row -->
  </section>

  {% if pro or host or taster and party.guests_see_guestlist or taster and party.guests_can_invite %}
    <hr />
    <div class="vertical-space"></div>
    <!-- <section id="party-tasters"> -->
    {% if not party.is_past_party %}
      {% if party.confirmed %}
        {% if party.high_low == '!LOW' %}
          <div class="message-container">
            <div class="messages">
              <div class="alert alert-error center">
                <h2>
                  <small>
                    {% if user.get_profile.events_manager or party.host == user %}
                      Low attendance! Consider inviting more people or RSVP'ing for them
                    {% else %}
                      Low attendance! Remind host to invite more people
                    {% endif %}
                  </small>
                </h2>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if can_add_taster %}
      {% if pro or host or taster and party.guests_can_invite %}
      <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ taster_form.party }}
        {{ taster_form.response }}
        <div class="row">
          <div class="span12">
            <h2>Tasters Attending</h2>
            {% comment %}
              {% if pro or host or taster and party.guests_can_invite %}
                <p><h3>Add Taster</h3></p>
                {% if pro or host %}
                  <div class="control-group {% if taster_form.invitee.errors %}error{% endif %}">
                    {{ taster_form.invitee }}
                    {% if taster_form.invitee.errors %}
                      <span class="help-inline">
                        {{ taster_form.invitee.errors }}
                      </span>
                    {% endif %}
                  </div>
                  <p><h3>or add new taster</h3></p>
                {% endif %}
              {% endif %}
            {% endcomment %}
          </div>
        </div>        
        <div class="row">
          <div class="span3">
            <div class="control-group {% if taster_form.first_name.errors %}error{% endif %}">
              {{ taster_form.first_name }}
              {% if taster_form.first_name.errors %}
                <span class="help-inline">
                  {{ taster_form.first_name.errors }}
                </span>
              {% endif %}
            </div>
          </div>
          <div class="span3">
            <div class="control-group {% if taster_form.last_name.errors %}error{% endif %}">
              {{ taster_form.last_name }} 
              {% if taster_form.last_name.errors %}
                <span class="help-inline">
                  {{ taster_form.last_name.errors }}
                </span>
              {% endif %}
            </div>
          </div>
          <div class="span3">
            <div class="control-group {% if taster_form.email.errors %}error{% endif %}">
              {{ taster_form.email }} 
              {% if taster_form.email.errors %}
                <span class="help-inline">
                  {{ taster_form.email.errors }}
                </span>
              {% endif %}
            </div>
          </div>
          <div class="span2">
            <div class="control-group {% if taster_form.phone.errors %}error{% endif %}">
              {{ taster_form.phone }}
              {% if taster_form.phone.errors %}
                <span class="help-inline">
                  {{ taster_form.phone.errors }}
                </span>
              {% endif %}
            </div>
          </div>
          <div class="span12">
            <button type="submit" name="add_taster" value="add_taster" class="btn btn-primary">Add</button>
            {% if user.get_profile.events_manager %}
              <a href="{% url vinely_event_signup party.id %}" class="btn btn-primary">New Taster D.I.Y Check In</a>
            {% endif %}
          </div>
        </div>
      </form>
      {% endif %}
    {% else %}
      <h2>Tasters Attended</h2>
    {% endif %}

    <form class="form-horizontal" method="POST" action="{% url party_send_invites %}">
      {% csrf_token %}
      {{ taster_form.party }}
      {{ invite_form.custom_subject }}
      
      {% if pro or host or taster and party.guests_see_guestlist %}
        <div class="vertical-space">&nbsp;</div>
        {% render_table table %}
      {% endif %}

      {% if party.host == user or user.get_profile.events_manager %}
        {% if can_add_taster %}
          <div class="vertical-space">&nbsp;</div>
          <div class="row">
            <div class="span10">
              <a href="{% url party_write_invitation party.id %}" target="_blank" class="btn btn-primary">Edit Invite</a>
            </div>
            <div class="span2">
              <button class="btn btn-primary pull-right" name="send_invite" value="send_invite"
                     {% if not party.confirmed %}disabled="disabled"{% endif %}>Send Invite</button>
            </div>
          </div>
        {% else %}
          <div class="vertical-space">&nbsp;</div>
          <div class="row">
            <div class="span9">
              <a target="_blank" class="btn btn-primary" name="edit_thank_you" value="edit_thank_you">Edit Thank You Note</a>
            </div>
            <div class="span3">
              <button class="btn btn-primary pull-right" name="send_thank_you" value="send_thank_you">Thank Attendees</button>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </form>

  {% endif %}
  <div class="vertical-space-bottom"></div>
</div>

{% endblock content %}

{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function() {

      //select all rows on the table
      $('.all-guests').click(function(e) {
        var selected = $(this).prop('checked');
        $('.guest').prop('checked',selected);
      });

      //show modal for editing user info
      $('.edit-taster').click(function(e) {
        e.preventDefault();

        $.ajax({
          type: "GET",
          url: "{% url party_edit_taster_info 0 't' %}?next={{ request.path }}".replace(0, $(this).attr('data-invite')),
          cache: false,
          dataType: "html",
          success: function(html, textStatus) {
            $(html).modal();
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Oops. There was a problem on the server. Try again later");
            console.log("errorThrown:" + XMLHttpRequest);
          }
        });
      });

      //typeahead
      $('.typeahead').typeahead({
        source: function (query, process){
          // console.log("query: " + query);
          var url = "{% url my_taster_list -1 %}".replace(-1, query);
          $.ajax({
            url: url,
            cache: true,
            dataType: "json",
            success: function(json, textStatus) {
              return process(json);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log("error" + errorThrown)
            }
          });
          return [];
        },
        updater: function(item) {
          console.log('Ze item: ' + item);
          var host_email = item.split(",")[1].trim()
          var url = "{% url party_user_info -1 %}".replace(-1, host_email);
          $.ajax({
            url: url,
            cache: true,
            dataType: "json",
            success: function(json, textStatus) {
              console.log('updater: ' + json);
              $('#id_first_name').val(json.first_name);
              $('#id_last_name').val(json.last_name);
              $('#id_email').val(json.email);
              $('#id_phone').val(json.phone);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log("error" + errorThrown)
            }
          });
        }
      });
    });
  </script>
{% endblock additional_scripts %}
