{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}
  <h1 class="headline">Check it out!</h1>
  Finalize your order by clicking "Place Order" button below
{% endblock header %}

{% block additional_styles %}
  <style type="text/css">
    .table td { 
      vertical-align: middle;
    }
  </style>
{% endblock additional_styles %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Frequency</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>
              <div class="cart-item">
                <div class="cart-item-image">
                  {% if item.img_file_name %}
                    <img src="{{ STATIC_URL }}img/{{ item.img_file_name }}" height="100">
                  {% else %}
                      <img src="{% static "img/firsthostkit_prodimg.png" %}" height="100">
                  {% endif %}
                </div>
                <div class="cart-item-name">
                  {% if item.product.category == 0 %} {# only show this for taste-kits #}
                    {{ item.product.name }}
                  {% endif %}
                </div>
              </div>
            </td>
            <td>{{ item.get_frequency_display }}</td>
            <td>{{ item.quantity_str }}</td>
            <td>{{ item.subtotal|currency }}</td>
            <td><a href="{% url cart_remove_item cart.id item.id %}?next={% url place_order %}"><i class="icon-trash"></i></a></td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <section id="shipping-billing">
  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span3">
      <p><h3>Shipping Information</h3></p>
      <address>
        <p>{{ receiver.first_name }} {{ receiver.last_name }}</p>
        <p>{{ shipping_address.street1 }}</p>
        {% if shipping_address.street2 %}
        <p>{{ shipping_address.street2 }}</p>
        {% endif %}
        <p>{{ shipping_address.city }}, {{ shipping_address.state }} {{ shipping_address.zipcode }}</p>
        <br />
        <p>Phone: {{ cart.receiver.get_profile.phone }}</p>        
        <p><a href="{% url edit_shipping_address %}">Edit</a></p>
      </address>
    </div>
    <div class="span3">
      <p><h3>Billing Information</h3></p>
      <p></p>
      <p>Credit card ending in {{ credit_card.last_four }}</p>
      <p>Exp Date: {{ credit_card.exp_date }}</p>
      <p>Card Type: {{ credit_card.card_type }}</p>
      <p><a href="{% url edit_credit_card %}">Edit</a></p>
    </div>
    <div class="span3">
      <p>&nbsp;</p>
      {% comment %}
        {% if taste_kit_order %}
          <p>&nbsp;</p>
        {% else %}
          {% if not items %}
            <p>&nbsp;</p>
          {% else %}
            <p><h3>Wine Preference</h3></p>
            <!-- <p></p> -->
            <p>Red/White: {{ receiver.userprofile.order_customization_pref }}</p>
            <p>Bubbles: {{ customization.get_sparkling_display }}</p>
          {% endif %}
        {% endif %}
      {% endcomment %}
    </div>
    <div class="span3">
      <p>&nbsp;</p>
      {% if cart.discount %}
        <p>Credit: ({{ cart.discount|currency }})</p>
      {% endif %}
      <p>Subtotal: {{ cart.subtotal|currency }}</p>
      <p>Shipping: {{ cart.shipping|currency }}</p>
      <p>Tax: {{ cart.tax|currency }}</p>
      <p><b>Total: {{ cart.total|currency }}</b></p>
    </div>
  </div>
  </section>

  <div class="row">
    <div class="span12">
      <div class="form-actions">
        <div class="pull-right">
          <form action="{% url place_order %}" method="POST">
            {% csrf_token %}
<!-- 
            <a class="btn btn-primary" href="{% url start_order %}">
              <i class="icon-plus-sign icon-white"></i> Continue Shopping</a>
 -->
            <button type="submit" class="btn btn-success">
              <i class="icon-ok icon-white"></i> Place Order
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

