{% extends "winedora/base_html5.html" %}

{% block header %}
  {% if invitee %}
  <h1>Ratings for {{ invitee.first_name }} has been saved</h1>
  {% else %}
  <h1>Your ratings have been saved</h1>
  {% endif %}
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  {% if personality %}
  <section id="wine_personality">
  <div class="row">
    <div class="span12">
      You are a {{ personality.name }}  
    </div>
    <div class="span12">
      {{ personality.description }}
    </div>
  </div>
  </section>
  {% endif %}

  <section id="continue_order">
  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      Do you want to continue entering rating data or add an order for {{ invitee.first_name }} 
    </div>
  </div>

  <div class="row">
    {% if role == "specialist" %}
    <div class="span12">
      <a href="{% url record_all_wine_ratings %}" class="btn btn-primary">Enter attendee data</a>
      <a href="{% url start_order %}" class="btn btn-primary">Order wine for {{ invitee.first_name }}</a>
    </div>
    {% else %}
     <div class="span12">
      <a href="{% url start_order %}" class="btn btn-primary">Start your wine order</a>
    </div>
    {% endif %}
  </div>
  </section>

</div>

{% endblock content %}
