{% extends "winedora/base_html5.html" %}

{% block header %}
  {% if invitee %}
    <h1>{{ invitee.first_name }}, Here's your Wine Personality</h1>
  {% else %}
    <h1>Here's your Wine Personality</h1>
  {% endif %}
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <section id="wine_personality">
    <div class="row">
      {% if personality %}
        <div class="span9">
          <p>
          <h2>You are a <span class="uppercase">{{ personality.name }}</span></h2>
          </p>
          <p class="lead">
            {{ personality.description }}
          </p>
        </div>
        <div class="span3">
          <section id="order-personal-wine">
          <p>
            Vinely recommends copy & guideline
          </p>
          <p>
            Start ordering wine to enjoy the variety you can enjoy
          </p>
          <p>
            {% if role == "pro" %}
              <a href="{% url start_order invitee.id party_id %}" class="btn btn-primary">Order wine for {{ invitee.first_name }}</a>
            {% else %}
              <a href="{% url start_order user.id %}" class="btn btn-primary">Start your wine order</a>
            {% endif %}
          </p>
          </section>
        </div>
      {% else %}
        <div class="span9">
          <p>
            <h2>You do not yet have a Wine Personality.</h2>
          </p>
          <p class="lead">
            Please join one of our parties to find your wine personality.
          </p>
        </div>
      {% endif %}
    </div> <!-- row -->
  </section>

  <section id="continue_order">
  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    {% if party_id %}
      <div class="span12">
        <a href="{% url party_details party_id %}">&laquo; Back to guest list</a>
      </div>
    {% else %}
      <div class="span12">
        <a href="{% url home_page %}">&laquo; Back to Home Page</a>
      </div>    
    {% endif %}
  </div>
  </section>

</div>

{% endblock content %}
