{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>Record Wine Ratings</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    <div class="span12">
      Please enter taster information and add their ratings
    </div>
  </div>

  <section id="user_ratings">
  
    <form method="POST" action="">
      {% csrf_token %}

      <table>
      {{ form.as_table }}
      </table> 
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </section>

</div>

{% endblock content %}
