{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load staticfiles %}

{% block header %}
  <h1 class="headline">What would you like?</h1>

{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  {% if your_personality == "Mystery" %}
   <div class="row">
    <div id="sub-heading" class="offset2 span8 center">
      You need to first participate in a tasting party to find out your wine personality.
    </div>
  </div> 
  {% else %}
  <div class="row">
    <div class="offset2 span8 center">
        Select your desired Vinely Collection and we'll have your personality matches delivered conveniently, quickly, and best of all, deliciously.
    </div>
  </div>

  <section id="products">
  <div class="row">
    {% for product in products %}
    <div class="span4">
      <div class="product-container">
        {% if product.cart_tag == "basic" %}
          <div class="product-badge from-75"></div>
        {% elif product.cart_tag == "classic" %}
          <div class="product-badge from-125"></div>
        {% elif product.cart_tag == "divine" %}
          <div class="product-badge from-220"></div>
        {% endif %}
          <div class="product-wine">
            <!-- 
            {% thumbnail product.image "x250" as im %}
              <img height="250" src="{{ im.url }}"/>
            {% endthumbnail %}
            -->
             <div class="product-img"><img heigh="250" src="{% static "img/{{ product.img_file_name }}" %}"/></div>
            <div class="product-description">
              <h4>{{ your_personality }} {{ product.name }}</h4>
              <p>{{ product.description }}</p>
              <p><a href="{% url cart_add_wine product.cart_tag %}">Select {{ product.name }}</a></p>
             </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </section>
  {% endif %}

  <div class="row download">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

</div>

{% endblock %}

