{% extends "winedora/base_html5.html" %}

{% load currency %}
{% load thumbnail %}
{% load static %}

{% block header %}
  <h1>Order Details</h1>
{% endblock header %}

{% block additional_styles %}
  <style type="text/css">
    .table td { 
      vertical-align: middle;
    }
  </style>
{% endblock additional_styles %}

{% block brand_logo %}
  <div class="span4 offset2">
    <h1><a class="brand" href="{% url landing_page %}"><img src="{% static "img/vinely_logo_notag.png" %}" title="Vinely" class="default" width="156" height="80"></a></h1>
  </div>
{% endblock brand_logo %}

{% block navbar_menu %}
  <div class="menu_wrap main">
    <ul class="nav">
      <!-- <li id="live_orders"{% if live_orders_menu %} class="active"{% endif %}><a href="#" title="Live Orders">Live</a></li> -->
      <li id="order_history"{% if order_history_menu %} class="active"{% endif %}><a href="{% url supplier_all_orders %}" title="Order History">Order History</a></li>
      <li id="your_wine_list"{% if wine_list_menu %} class="active"{% endif %}><a href="" title="Your Wine List"></a></li>
    </ul>
  </div>
{% endblock navbar_menu %}

{% block auth %}
<div class="span3 pull-right">
  <div class="box-container">
  <div class="box-content authentication">
      {% if user.is_authenticated %}
          <a href="{% url logout %}">Sign Out</a> | 
          <a href="{% url my_information %}">My Account</a>
          <!-- <a href="{% url cart %}">Cart {{ cart_item_count }} Items</a> -->
        {% else %}
        <!-- if not logged in, show login link -->
        <div class="login-forgot">
          <a href="{% url login %}">Sign In</a> | <a href="{% url forgot_password %}">Forgot Password</a>
        </div>
      {% endif %}
    </div> <!-- id auth-->
    <div class="box-bg"></div>
  </div><!--box-container-->
</div> <!--span4-->
{% endblock %}

{% block social %} <div class="span3">&nbsp;</div> {% endblock %}
{% block footer %} {% endblock %}
{% block badges %} {% endblock %}
{% block social_scripts %} {% endblock %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <form method="POST" action="{% url supplier_edit_order order_id %}">
    {% csrf_token %}
    <section id="order-summary">
      <div class="row">
        <div class="span3 well">
          <p><h3>Order Information</h3></p>
          <p>Order #: {{ order.vinely_order_id }}</p>
          {{ form.order_id }}
          <p>Order Date: {{ order.order_date|date}}</p>
          <p>Deliver By: </p>
          <p>&nbsp;</p>
          <p><h3>Shipping Information</h3></p>
          <address>
            <p>{{ order.receiver.first_name }} {{ order.receiver.last_name }}</p>
            {% if order.shipping_address.company_co %}
            <p>c/o {{ order.shipping_address.company_co }}</p>
            {% endif %}
            <p>{{ order.shipping_address.street1 }}</p>
            {% if order.shipping_address.street2 %}
            <p>{{ order.shipping_address.street2 }}</p>
            {% endif %}
            <p>{{ order.shipping_address.city }}, {{ order.shipping_address.state }} {{ order.shipping_address.zipcode }}</p>
            <br />
            <p>Phone: {{ order.receiver.get_profile.phone }}</p>
            <p>Email: <a href="mailto:{{ order.receiver.email }}">{{ order.receiver.email }}</a></p>
          </address>
          <p></p>
          <p><h3>Billing Information</h3></p>
          <p></p>
          {% if order.credit_card %}
            <p>{{ order.credit_card.card_type }} {{ order.credit_card.decrypt_card_num }}</p>
            <p>CVV: {{ order.credit_card.decrypt_cvv }}</p>
            <p>Exp Date: {{ order.credit_card.exp_month }}/{{ order.credit_card.exp_year }}</p>
            <p>Zipcode: {{ order.credit_card.billing_zipcode }}</p>
          {% else %}
            <p>Processed via Stripe w/ card ending in: {{ order.stripe_card.last_four }}</p>
            <p>Exp Date: {{ order.stripe_card.exp_date }}</p>
          {% endif %}
        </div>
        <div class="span8">
          <div class="row">
            <div class="span8">
              <table class="table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Subscription</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                  <td>
                    <div class="cart-item">
                      <div class="cart-item-image">
                      {% if item.img_file_name %}
                        <img src="{{ STATIC_URL }}img/{{ item.img_file_name }}" height="100">
                      {% else %}
                        <img src="{% static "img/firsthostkit_prodimg.png" %}" height="100">
                      {% endif %}
                      </div>
                      <div class="cart-item-name">
                        {% if item.product.category == 0 %} {# only show this for taste-kits #}
                          {{ item.product.name }}
                        {% endif %}
                      </div>
                    </div>
                  </td>
                  <td>{{ item.get_frequency_display }}</td>
                  <td>{{ item.quantity_str }}</td>
                  <td>{{ item.subtotal|currency }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div> <!-- .span8 -->
          </div> <!-- .row -->
          <hr>
          <div class="row">
            <div class="span6">
              &nbsp;
            </div>
            <div class="span2 pull-right">
              <p>Subtotal: {{ cart.subtotal|currency }}</p>
              <p>Shipping: {{ cart.shipping|currency }}</p>
              <p>Tax: {{ cart.tax|currency }}</p>
              <p><b>Total: {{ cart.total|currency }}</b></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="span3 well">
<!--               
              {% if customization %}
                <p>Customizations: {{ customization.get_wine_mix_display }}</p>
                <p>Bubbles: {{ customization.get_sparkling_display }}</p>
                {% if personality %}
                  <p>Personality: <a href="{% url personality_details order.receiver.id order.order_id %}">{{ personality.name }}</a></p>
                {% else %}
                  <p>Vinely Personality: None yet</p>
                {% endif %}
              {% else %}
                <p>Customizations: Vinely Recommended</p>
                <p>Bubbles: Yes</p>  
                {% if personality != MYSTERY_PERSONALITY %}
                  <p>Personality: <a href="{% url personality_details order.receiver.id order.id %}">{{ personality.name }}</a></p>
                {% else %}
                  <p>Vinely Personality: Mystery</p>
                {% endif %}
              {% endif %}
 -->
              <h3>Wine Preference</h3>
              <br />
              <p>Personality: <a href="{% url personality_details order.receiver.id order.order_id %}">{{ order.receiver_personality }}</a></p>
              <p>Taste Code: 
                {% with rating_summary=order.receiver.userprofile.personality_rating_code %}
                  <a href="#" class="taste-code" rel="popover" data-placement="left" data-trigger="hover"
                      data-content="{{ rating_summary.1 }}">
                      {{ rating_summary.0 }}</a>
                {% endwith %}                
              </p>
              <p>Red/White: {{ order.receiver.userprofile.order_customization_pref }}</p>
              <p>Bubbles: {{ customization.get_sparkling_display }}</p>
            </div>
            <div class="span4 well">
              <div class="control-group">
                <div class="control-label" for="id_carrier">Shipping Method:</div>
                <div class="controls">
                  {{ form.carrier }} 
                </div>
              </div>
              <div class="control-group">
                <div class="control-label" for="id_tracking_number">Tracking #:</div>
                <div class="controls">
                  {{ form.tracking_number }} 
                </div>
              </div>
              <div class="control-group">
                <div class="control-label" for="id_fulfill_status">Status:</div>
                <div class="controls">
                  {{ form.fulfill_status }} 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="span12">
        <div class="form-actions">
          <div class="pull-right">
            <input type="submit" class="btn btn-primary" name="update" value="Update">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>

{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.taste-code').popover();
    });
  </script>
{% endblock additional_scripts %}