{% extends "main/menu_base_flip.html" %}

{% block header %}
  <h1>Parties</h1>
{% endblock header %}

{% block side_navigation %}
          <li><a href="{% url supplier_pending_orders %}">Pending Orders</a></li>
          <li><a href="{% url supplier_fulfilled_orders %}">Fulfilled Orders</a></li>
          <li><a href="{% url supplier_all_orders %}">All Orders</a></li>
{% endblock side_navigation %}

{% block main_content %}
      <table class="table table-striped">
        <thead>
          <th>Date</th>
          <th>Host</th>
          <th>Title</th>
          <th>Contact Phone</th>
          <th>Address</th>
          <th>Orders [Pending]</th>
        </thead>
        <tbody>
        {% for party in parties %}
          {# create a table of party and party information #}
          <tr>
            <td>{{ party.event_date|date:"M d, Y" }}</td>
            <td><a href="mailto:{{ party.socializer.email }}">{% if party.socializer.first_name %}{{ party.socializer.first_name }} {{ party.socializer.last_name }}{% else %}Friendly Socializer{% endif %}</a></td>
            <td>{{ party.title }}</td>
            <td>{{ party.phone }}</td>
            <td>{{ party.address }}</td>
            <td><a href="{% url supplier_party_orders party.id %}">{{ party.num_orders }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock main_content %}
