{% extends "winedora/base_html5.html" %}
{% load static %}
{% load currency %}

{% block additional_styles %}
<style>
  th a:visited, .taste-code:visited {
    color: #DD4040;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block header %}
{% endblock header %}

{% block brand_logo %}
  <div class="span4 offset2">
    <h1><a class="brand" href="{% url landing_page %}"><img src="{% static "img/vinely_logo_notag.png" %}" title="Vinely" class="default" width="156" height="80"></a></h1>
  </div>
{% endblock brand_logo %}

{% block navbar_menu %}
  <div class="menu_wrap main">
    <ul class="nav">
      <li id="live_orders"{% if live_orders_menu %} class="active"{% endif %}><a href="{% url how_it_works %}" title="Live Orders">Live</a></li>
      <li id="order_history"{% if order_history_menu %} class="active"{% endif %}><a href="{% url get_started %}" title="Order History"></a></li>
      <li id="your_wine_list"{% if wine_list_menu %} class="active"{% endif %}><a href="{% url our_story %}" title="Your Wine List"></a></li>
    </ul>
  </div>
{% endblock navbar_menu %}

{% block auth %}
<div class="span3 pull-right">
  <div class="box-container">
  <div class="box-content authentication">
      {% if user.is_authenticated %}
          <a href="{% url logout %}">Sign Out</a> | 
          <a href="{% url my_information %}">My Account</a>
          <!-- <a href="{% url cart %}">Cart {{ cart_item_count }} Items</a> -->
        {% else %}
        <!-- if not logged in, show login link -->
        <div class="login-forgot">
          <a href="{% url login %}">Sign In</a> | <a href="{% url forgot_password %}">Forgot Password</a>
        </div>
      {% endif %}
    </div> <!-- id auth-->
    <div class="box-bg"></div>
  </div><!--box-container-->
</div> <!--span4-->
{% endblock %}

{% block social %} <div class="span3">&nbsp;</div> {% endblock %}
{% block footer %} {% endblock %}
{% block badges %} {% endblock %}
{% block social_scripts %} {% endblock %}
{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <!-- <section id="order-history"> -->
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order Number</th>
            {% if supplier_all_view %}
              <th><a href="{% if sorting == '-status' %}./?sort=status{% else %}./?sort=-status{% endif %}">Status</a></th>
            {% endif %}
            <th><a href="{% if sorting == '-order_date' %}./?sort=order_date{% else %}./?sort=-order_date{% endif %}">Order Date</a></th>
            <th><a href="{% if sorting == '-ship_date' %}./?sort=ship_date{% else %}./?sort=-ship_date{% endif %}">Ship Date</a></th>
            {% if supplier_history_view %}
              <th><a href="{% if sorting == '-track' %}./?sort=track{% else %}./?sort=-track{% endif %}">Tracking Number</a></th>
            {% endif %}
            <th><a href="{% if sorting == '-name' %}./?sort=name{% else %}./?sort=-name{% endif %}">Customer Name</a></th>
            
            <th><a href="{% if sorting == '-personality' %}./?sort=personality{% else %}./?sort=-personality{% endif %}">Personality</a></th>
            <th><a href="#">Red / White / Both</a></th>
            <th><a href="#">Taste Code</a></th>
            <th><a href="#">Price Tier</a></th>
            <th><a href="{% if sorting == '-quantity' %}./?sort=quantity{% else %}./?sort=-quantity{% endif %}">Quantity</a></th>
            <!-- <th>Party</th> -->
            <!-- <th>Ships to</th> -->
            <!-- <th>Recurring</th> -->
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="{% url supplier_edit_order order.order_id %}">{{ order.vinely_order_id }}</a></td>
            {% if supplier_all_view %}
              <td>{{ order.get_fulfill_status_display }}</td>
            {% endif %}
            <td>{{ order.order_date|date:"m/d/y"  }}</td>
            <td>{% if order.ship_date %}{{ order.ship_date }}{% else %}-{% endif %}</td>
            {% if supplier_history_view %}
              <td>{{ order.tracking_number }}</td>  
            {% endif %}
            <td>{{ order.receiver.first_name}} {{ order.receiver.last_name }}</td>
            <td>{{ order.receiver_personality }}</td>
            <td>{{ order.receiver.userprofile.order_customization_pref }}</td>
            <td>
              {% with rating_summary=order.receiver.userprofile.personality_rating_code %}
                <a href="#" class="taste-code" rel="popover" data-placement="bottom" data-trigger="hover"
                    data-content="{{ rating_summary.1 }}">
                    {{ rating_summary.0 }}</a>
              {% endwith %}
            </td>
            <td>$$</td>
            <td>{{ order.quantity_summary }}</td>
            <!-- <td>{{ order.party_state }}</td> -->
            <!-- <td>{{ order.ships_to }}</td> -->
            <!-- <td>{{ order.recurring }}</td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>  

    </div>
  </div>
  <div class="row">
    <div class="span12">
      <hr />
      <a href="?{{ first_page_url }}">First</a> | 
      <a href="?{{ prev_page_url }}">Previous</a> |
      <span>{{ page }}</span> | 
      <a href="?{{ next_page_url }}">Next</a> | 
      <a href="?{{ last_page_url }}">Last</a>
      <p></p>
    </div>
  </div>  
  <!-- </section> -->

</div>
{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.taste-code').popover();
    });
  </script>
{% endblock additional_scripts %}

