{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>View Orders</h1>
{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      If party specialist, see all orders from their parties
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      If party host, see all orders from their parties
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      If attendee, see the status of their orders
    </div>
  </div>

  <div class="row">
    {# Need to check for permissions whether this is a party specialist #}
    <div class="span12">
      If supplier, see all orders, party specialist they belong to, order date and can flag processing, processed 
    </div>
  </div>
</div>

{% endblock %}

