{% extends "winedora/base_html5.html" %}

{% load render_table from django_tables2 %}

{% block header %}
  <h1 class="center">WHAT’S A VINELY TASTE PARTY?</h1>
{% endblock header %}

{% block social %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block auth %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block navbar_menu %}{% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block footer %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="{% if fb_view %}span9{% else %}span9{% endif %} offset1">
      {{ event_content }}
      <!-- <div class="vertical-space"></div> -->
      <h2>Upcoming events</h2>
      {% render_table parties_table %}
    </div>
  </div>
</div> <!-- container -->

{% endblock content %}
