{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>YOU ARE CORDIALLY INVITED TO A VINELY TASTE PARTY</h1>
{% endblock header %}


{% block social %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block auth %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block navbar_menu %}{% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block footer %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="{% if fb_view %}span10{% else %}span12{% endif %}">
      Join us October 10th, 2012 for a Vinely Taste Party open house from 4:00 pm to 7:00 pm in downtown Grand Rapids at the <a href="http://www.shopmodiv.com/floorplan.html">Haworth|Interphase Showroom space</a> located on the corner of Monroe Center and Division. 
      <p>&nbsp;</p>
      <h2>WHAT’S A VINELY TASTE PARTY?</h2>
        <p>Think of it as learning through drinking. It’s part wine tasting. Part personality test. And part...well...party.</p>

        <p>The wines you’ll sample will give us an idea of your personal taste. The flavors you enjoy and the ones you could do without. After sipping, savoring, and rating each wine, we’ll assign you one of six Vinely Personalities. Then, we’ll be able to send wines perfectly paired to your taste - right to your doorstep.</p>

        <p>Come early, stay late but promise you will come.</p>
        
        <p>Tell us you’ll attend! You know you want to!</p>

        <p>By filling out the information below, an online profile will be created for you and gets you one step closer to finding out your Vinely Wine Personality.</p>
        <br />
        {% if fb_view %}
          <a class="btn btn-large btn-success" href="/facebook/event/signup/9/">Sign Me Up</a>
        {% else %}
          <a class="btn btn-large btn-success" href="/event/signup/9/">Sign Me Up</a>
        {% endif %}
        <br /><br />

    </div>
  </div>
  <div class="row">
    <div class="{% if fb_view %}span10{% else %}span12{% endif %}">
      <h2>But where’s the parking?</h2>
      <p>Don’t let parking stand in your way. There are lots of meters, most of which are free after 6:00 pm. If you arrive before 6:00 pm you can get an hour free in the Monroe Center lot located at 37 Ionia Avenue Northwest (on the corner of Ionia ave and Louis)</p>
      <h2>Questions</h2>
      <p>Contact a Vinely Care Specialist at <a href="care@vinely.com">care@vinely.com</a> or call 1.888.294.1128 ext: 1</p>
    </div>
  </div>
  <!-- <form class="form-horizontal well" method="POST" action=""></form> -->
</div> <!-- container -->

{% endblock content %}
