{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>YOU ARE CORDIALLY INVITED TO A VINELY TASTE PARTY</h1>
{% endblock header %}


{% block social %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block auth %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block navbar_menu %}{% if not fb_view %} {{block.super}} {% endif %} {% endblock %}
{% block footer %} {% if not fb_view %} {{block.super}} {% endif %} {% endblock %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="{% if fb_view %}span10{% else %}span12{% endif %}">
      {{ event_content }}
    </div>
  </div>
  <!-- <form class="form-horizontal well" method="POST" action=""></form> -->
</div> <!-- container -->

{% endblock content %}
