{% extends "winedora/base_html5.html" %}

{% block header %}
  <!-- <h1>Edit {% if template.category == 0 %} Email {% else %} Web {% endif %}Template</h1> -->
  <h1><a href="{% url cms:template_list template.category %}">Template List</a> / Edit - {{ template.key }}</h1>
  <!-- {{ form.media }} -->
{% endblock header %}

{% block content %}

<div class="container">
  {% if template.variables_legend.all %} 
    <div class="page-header">
      These items should always be present in the template content
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
        <th>Item</th>
        <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for variable in template.variables_legend.all %}
          <tr>
            <td>{{ variable.var }}</td>
            <td>{{ variable.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <section id="template-content">
    <div class="row">
      <div class="span12">
        <form class="form-horizontal" method="POST" action="{{ app_path }}">
          {% csrf_token %}

          <fieldset>
            <div class="control-group{% if form.content.errors %} error{% endif %}">
              <div class="control-label" for="id_sections">{{ form.sections.label }}</div>
              <p></p>
              <div class="controls">
                {{ form.sections }}
                <button type="submit" class="btn btn-inverse" name="section_select" value="section_select">Go</button>
                {% if form.sections.errors %}
                  <span class="help-inline">
                    {{ form.sections.errors }}
                  </span>
                {% endif %}
              </div>

              <div class="control-label" for="id_content">{{ form.content.label }}</div>
              <p></p>
              <div class="controls">
                {{ form.content}} 
                {% if form.content.errors %}
                  <span class="help-inline">
                    {{ form.content.errors }}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="form-actions">
              <a href="{% url cms:template_list %}" class="btn btn-warning">Back to templates list</a>  
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>

{% endblock %}
