{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1>System Templates</h1>
{% endblock header %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Last Modified</th>
              </tr>
            </thead>
            <tbody>
              {% for template in templates %}
                <tr>
                  <td><a href="{% url edit_template template.key %}">{{ template.key }}</a></td>
                  <td>{{ template.get_category_display }}</td>
                  <td>{{ template.last_modified }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="row">
            <div class="span12">
              <a href=".">First</a> | 
              <a href="{% if page.has_previous %}./?p={{ page.previous_page_number }}{% else %}#{% endif %}">Previous</a> |
              <span>{{ page }}</span> | 
              <a href="{% if page.has_next %}./?p={{ page.next_page_number }}{% else %}#{% endif %}">Next</a> | 
              <a href="{% if page.has_other_pages %}./?p={{ page_count }}{% else %}#{% endif %}">Last</a>
              <p></p>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
