{% extends "winedora/base_html5.html" %}


{% block header %}
    <h1 class="headline">Vinely Administration</h1>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Communication</h1>
        <ul>
          <li><a href="{% url cms:list_templates %}">Manage E-mail and Web Templates</a></li>
          <li><a href="{% url support:list_emails %}">View E-mails</a></li>
          <li><a href="{% url support:manage_subscriptions %}">Manage Subscriptions</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h1>Fulfillment</h1>
        <ul>        
          <li><a href="{% url support:wine_inventory %}">Wine Inventory Management</a></li>
          <li><a href="{% url support:view_orders %}">Fulfill Orders</a></li>
          <li><a href="{% url support:view_past_orders %}">Rate Wines on Past Orders</a></li>
        </ul>
      </div>
    </div> 
  </div>

{% endblock %}
