{% extends "winedora/base_html5.html" %}

{% block additional_styles %}
  <style type="text/css">
    a:visited {
      color: #DD4040;
      text-decoration: none;
    }
  </style>
{% endblock additional_styles %}

{% block header %}
    <h1 class="headline">Vinely Administration</h1>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="span4">
        <h1>Communication</h1>
        <ul>
          <li><a href="{% url cms:template_list %}">Manage E-mail and Web Templates</a></li>
          <li><a href="{% url support:list_emails %}">View E-mails</a></li>
          <li><a href="{% url support:manage_subscriptions %}">Manage Subscriptions</a></li>
        </ul>
      </div>
      <div class="span4">
        <h1>Users</h1>
        <ul>
          <li><a href="{% url support:view_users %}">Manage</a></li>
          {# <li><a href="#">Reports</a></li> #}
        </ul>
      </div>
      <div class="span4">
        <h1>Pros</h1>
        <ul>
          {# <li><a href="#">Manage</a></li> #}
          <li><a href="{% url pro:pro_home %}">Reports</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <h1>Fulfillment</h1>
        <ul>        
          <li><a href="{% url support:wine_inventory %}">Wine Inventory Management</a></li>
          <li><a href="{% url support:view_orders %}">All Orders</a></li>
          <li><a href="{% url support:view_past_orders %}">Exported Orders</a></li>
        </ul>
      </div>
      <div class="span4">
        &nbsp;
        <h1>Parties</h1>
        <ul>
          <li><a href="{% url support:view_parties %}">Manage</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
      <div class="span3">
        &nbsp;
        {% comment %}
        <h1>Events</h1>
        <ul>
          <li><a href="#">Manage</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
        {% endcomment %}
      </div>
    </div>
  </div>

{% endblock %}
