{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Edit Order</h1>

{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span6">
      &nbsp;
    </div>
    <div class="span6">
      <div class="pull-right">
        <a href="{% url support:admin_index %}">Support Home</a> |
        <a href="{% url support:wine_inventory %}">Wine Inventory</a> |
        <a href="{% url support:view_orders %}">Orders</a>
      </div>
    </div>

    <div class="span12">
      <section id="order-details">
        <legend>Order Details</legend>
        <div class="span12">
          <div class="row">
            <div class="span4">
              Order ID: {{ order.vinely_order_id }}
            </div>
            <div class="span4">
              Ordered By: {{ order.receiver_info }}
            </div>
            <div class="span4">
              Wine Personality: {{ receiver_profile.wine_personality }}
            </div>
          </div>
          <div class="vertical-space-20">
            &nbsp;
          </div>
          <div class="row">
            <div class="span4">
                    Taste Code: 
                      {% with rating_summary=receiver_profile.personality_rating_code %}
                        <a href="#" class="taste-code" rel="popover" data-placement="bottom" data-trigger="hover"
                            data-content="{{ rating_summary.1 }}">
                          {{ rating_summary.0 }}</a>
                      {% endwith %}                
            </div>
            <div class="span4">
              Red/White: {{ receiver_profile.order_customization_pref }}
            </div>
            <div class="span4">
              Bubbles: {{ customization.get_sparkling_display }}
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="span12">
      <section id="select-wine">
        <legend>Select Wine</legend>
        <form method="POST" action="">
          {% csrf_token %}

          {{ formset.management_form }}
          {{ formset.non_form_errors }}

          {% for form in formset.forms %}
            {% if forloop.counter0|divisibleby:"2" %}
              <div class="row">
            {% endif %}
              <div class="span6">
                <!-- {{ form.non_field_errors }} -->
                <!-- {{ form.errors }} -->
                {{ form.title }}
                {{ form.description }}
                {{ form.as_table }}
              </div>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}
              </div>
            {% endif %}         
          {% endfor %}

          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
        </form>
      </section>
    </div>

    <div class="span12">
      <section id="past-ratings">
        <legend>Past Ratings</legend>
        <div class="span12">
          {% for rating in past_ratings %} 
            <div class="row">
              <div class="span4">
                {{ rating.wine }}
              </div>
              <div class="span2">
                {{ rating.overall_rating }}
              </div>
              <div class="span4">
                {{ rating.timestamp }}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div> <!-- outermost row -->
</div>

<div class="vertical-space">
  &nbsp;
</div>
{% endblock content %}


{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.taste-code').popover();
    });
  </script>
{% endblock additional_scripts %}