{% extends "winedora/base_html5.html" %}

{% block header %}
  <h1 class="headline">Edit Order</h1>

{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span6">
      &nbsp;
    </div>
    <div class="span6">
      <div class="pull-right">
        <a href="{% url support:admin_index %}">Support Home</a> |
        <a href="{% url support:wine_inventory %}">Wine Inventory</a> |
        <a href="{% url support:view_orders %}">Orders</a>
      </div>
    </div>

    <form method="POST" action="">
      {% csrf_token %}
      <!-- include most content in the form --> 

      <div class="span12">
        <section id="order-details">
          <legend>Order Details</legend>
          <div class="span12">
            <div class="row">
              <div class="span4">
                Order ID: {{ order.vinely_order_id }}
              </div>
              <div class="span4">
                Ordered By: {{ order.receiver_info }}
              </div>
              <div class="span4">
                Order Date: {{ order.order_date|date:"M d, Y" }}
              </div>
            </div>
            <div class="vertical-space-20">
              &nbsp;
            </div>
            <div class="row">
              <div class="span6">
                Product: {{ order.cart }}
              </div>
              <div class="span3">
                Quantity: {{ order.quantity_summary }}
              </div>
              <div class="span3">
                Subscription: {{ recurring }}
              </div>
            </div>
            <div class="vertical-space-20">
              &nbsp;
            </div>            
            <div class="row">
              <div class="span4">
                      Taste Code: 
                        {% with rating_summary=receiver_profile.personality_rating_code %}
                          <a href="#" class="taste-code" rel="popover" data-placement="bottom" data-trigger="hover"
                              data-content="{{ rating_summary.1 }}">
                            {{ rating_summary.0 }}</a>
                        {% endwith %}                
              </div>
              <div class="span4">
                Red/White: {{ receiver_profile.order_customization_pref }}
              </div>
              <div class="span4">
                Bubbles: {{ customization.get_sparkling_display }}
              </div>
            </div>
            <div class="vertical-space-20">
              &nbsp;
            </div>            
            <div class="row">
              <div class="span4">
                Wine Personality: {{ receiver_profile.wine_personality }}
              </div>
              <div class="span2">
                {{ status_change_form.fulfill_status.label_tag }} 
              </div>
              <div class="span6">
                {{ status_change_form.fulfill_status }}
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="span12">
        <section id="select-wine">
          <legend>Select Taste Kit</legend>

              {% for field in select_tasting_kit_form %}
          <div class="row">
            <div class="span12">
                <div class="span2">
                  &nbsp;
                </div>
                <div class="span2">
                {{ field.label_tag }}
                </div>
                <div class="span6">
                {{ field }}
                </div>
            </div>
          </div>
              {% endfor %} 

          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
        </section>
      </div>

    </form>

    <div class="span12">
      <section id="past-ratings">
        <legend>Past Ratings</legend>
        <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Wine Name</th>
                <th>Rating</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for rating in past_ratings %} 
                <tr>
                  <td>
                    {{ rating.wine }}
                  </td>
                  <td>
                    [{{ rating.overall_rating }}] {{ rating.get_overall_rating_display }} 
                  </td>
                  <td>
                    {{ rating.timestamp }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div> <!-- outermost row -->
</div>

<div class="vertical-space">
  &nbsp;
</div>
{% endblock content %}


{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.taste-code').popover();
    });
  </script>
{% endblock additional_scripts %}