{% extends "winedora/base_html5.html" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="span12">
          <table class="table">
            <thead>
              <tr>
              <th>ID</th>
              <th>Subject</th>
              <th>Recipients</th>
              </tr>
            </thead>
            <tbody>
            {% for email in emails %}
            <tr>
              <td><a href="{% url view_email email.id %}">{{ email.id }}</a></td>
              <td><a href="{% url view_email email.id %}">{{ email.subject }}</a></td>
              <td>
                {% for address in email.recipients_list %}
                  {% if forloop.last %}
                    {{ address }}
                  {% else %}
                    {{ address }},
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>

{% endblock %}
