{% extends "winedora/base_html5.html" %}

{% block content %}
  <div class="container">
    <h1>Currently Active Subscriptions</h1>
    <div class="row">
      <div class="span12">
          <table class="table">
            <thead>
              <tr>
              <th>E-mail</th>
              <th>Full name</th>
              <th>State</th>
              <th>Quantity</th>
              <th>Frequency</th>
              <th>Next Invoice Date</th>
              <th>Updated Time</th>
              </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
            <tr>
              <td><a href="{% url admin:accounts_subscriptioninfo_change subscription.id %}">{{ subscription.user.email }}</a></td>
              <td>{{ subscription.user.first_name }} {{ subscription.user.last_name }}</td>
              <td>{{ subscription.user.get_profile.shipping_address.state }}</td>
              <td>{{ subscription.get_quantity_display }}</td>
              <td>{{ subscription.get_frequency_display }}</td>
              <td>{{ subscription.next_invoice_date }}</td>
              <td>{{ subscription.updated_datetime }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>

          <div class="row">
            <div class="span12">
              <a href=".">First</a> | 
              <a href="{% if page.has_previous %}./?p={{ page.previous_page_number }}{% else %}#{% endif %}">Previous</a> |
              <span>{{ page }}</span> | 
              <a href="{% if page.has_next %}./?p={{ page.next_page_number }}{% else %}#{% endif %}">Next</a> | 
              <a href="{% if page.has_other_pages %}./?p={{ page_count }}{% else %}#{% endif %}">Last</a>
              <p></p>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
