{% extends "winedora/base_html5.html" %}

{% load render_table from django_tables2 %}
{% load static %}

{% block additional_styles %}
  <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}"/>
{% endblock %}

{% block header %}
  <h1 class="headline">All Orders</h1>

{% endblock header %}

{% block content %}

<div class="container" data-spy="scroll" data-offset="50" data-target=".subnav">
  <div class="row">
    <div class="span6">
      &nbsp;
    </div>
    <div class="span6">
      <div class="pull-right">
        <a href="{% url support:admin_index %}">Support Home</a> |
        <a href="{% url support:wine_inventory %}">Inventory</a>
      </div>
    </div>
  </div>
  <div class="vertical-space">
    &nbsp;
  </div> 
  <hr>
  <div class="row">
    <div class="span12">
      {% render_table orders %} 
    </div>
  </div>

</div>

<div class="vertical-space">
  &nbsp;
</div>

{% endblock %}

